﻿@model VideoProject.Model.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/Css/Login/login-font-family.css" rel="stylesheet" />
    <link href="~/Content/Css/Login/normalize.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Login/login-custom.css" rel="stylesheet" />

    @Styles.Render("~/Content/css1")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

</head>
<body>
    <div class="wrapper">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { Class = "login" }))
        { 
            <p class="title">Log in</p>
            
            if (TempData["InvalidUser"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["InvalidUser"]
                </div>
            }
            
            @Html.TextBoxFor(a => a.UserEmail, new { placeholder = "User Email", autofocus = "autofocus", required="required" })
             @Html.ValidationMessageFor(a => a.UserEmail)

            @Html.PasswordFor(a => a.UserPassword, new { placeholder = "Password", required="required" })
             @Html.ValidationMessageFor(a => a.UserPassword)
            
            <a href="@Url.Action("Register","Login")">Not Registered?</a>
            <button>
                <span class="state">Log in</span>
            </button>
        }

        <div>
            @*<a target="blank" href="http://boudra.me/">boudra.me</a>*@
            <a href="#">powered by VideoProject</a>
        </div>
    </div>
</body>
</html>
