﻿@model VideoProject.Model.UserDetailModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/Content/Css/Login/login-font-family.css" rel="stylesheet" />
    <link href="~/Content/Css/Login/normalize.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Login/login-custom.css" rel="stylesheet" />
    @*<link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />*@

    @Styles.Render("~/Content/css1")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @* <script src="~/Scripts/jquery-3.2.1.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Content/JS/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
    @*<script src="~/Content/JS/Login/prefixfree.min.js"></script>*@

</head>
<body>
    <div class="wrapper">
        @using (Html.BeginForm("Register", "Login", FormMethod.Post, new { Class = "login" }))
        { 
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <p class="title">Register</p>
            
            if (TempData["ErrorMessage"] != null)
            {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
            }
            
            @Html.TextBoxFor(a => a.UserEmail, new { placeholder = "Email Address",autofocus = "autofocus" })

            @Html.ValidationMessageFor(a => a.UserEmail)


            @Html.TextBoxFor(a => a.Name, new { placeholder = "Name" })
            @Html.ValidationMessageFor(a => a.Name)


            @Html.PasswordFor(a => a.UserPassword, new { placeholder = "Password" })
            @Html.ValidationMessageFor(a => a.UserPassword)


            @Html.PasswordFor(a => a.ConfirmPassword, new { placeholder = "Confirm Password" })
            @Html.ValidationMessageFor(a => a.ConfirmPassword)

            <div>

                <a href="@Url.Action("Login", "Login")">Already Member?</a>
                <button>
                    <span class="state">Register</span>
                </button>
            </div>
            
        }

        <div>
            @*<a target="blank" href="http://boudra.me/">boudra.me</a>*@
            <a href="#">powered by VideoProject</a>
        </div>
    </div>
</body>
</html>
