﻿@model List<VideoProject.Model.VideoHierarchyModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/JS/External/jquery3.2.1.min.js"></script>
    <script src="~/Content/JS/External/youtube_player_api.js"></script>
    <script src="~/Content/JS/External/vimeo_player_api.js"></script>
    <script src="~/Content/JS/Custom/Video.js"></script>
</head>

<body style="text-align:center">
    <div id="YoutubePlayer" style="display: none;">
    </div>

    @*<div id="divQuestion" style="display: none;">*@
    <div id="divQuestion" style="display: none;">

        <div id="divLabel">
            <label id="lblQuestion">
            </label>
        </div>

        <div>
            &nbsp;
        </div>

        <div id="divAddButton">
            <input type="button" id="btnAnswer1" class="btnAnswer" value="" style="display: none; padding-bottom: 10px;" />
            <input type="button" id="btnAnswer2" class="btnAnswer" value="" style="display: none; padding-bottom: 10px;" />
            <input type="button" id="btnAnswer3" class="btnAnswer" value="" style="display: none; padding-bottom: 10px;" />
            <input type="button" id="btnAnswer4" class="btnAnswer" value="" style="display: none; padding-bottom: 10px;" />
        </div>

        <div>
            &nbsp;
        </div>

    </div>

    <iframe id="VimeoPlayer" style="display: none;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    <video id="LiveVideoPlayer" style="display: none;" controls autoplay>
        Your browser does not support the video tag.
    </video>

</body>
</html>

<script type="text/javascript">
    var currentVideoId;
    var IsStart;
    var VideoURL;
    var QuestionID;
    var QueDetail;
    var AnswerID;
    var AnsDetail;
    var NextVideoID;
    var NextLink;
    var isPlay;
    var objJsonModel = '@Html.Raw(Json.Encode(Model))';
    var objModel = $.parseJSON(objJsonModel);

    $(document).ready(function () {
        SetFunction(objModel);
    });

    function SetFunction(objModel) {
        
        $.each(objModel, function () {
            isPlay = false;
            IsStart = this['IsStart'];
            VideoURL = this['VideoURL'];
            AnswerID = this['AnswerID'];
            
            if (IsStart) {
                if (VideoURL.length > 0 && isPlay == false) {
                    
                    isPlay = true;
                    currentVideoId = AnswerID;
                    PlayVideo(objModel);
                }
            }
            else {
                alert('Some Problem has occured');
                return false;
            }
        });
    }

    function VideoShowHide(objModel) {
        if (QuestionID > 0) {
            $('#divQuestion').fadeIn('slow');
            $('#lblQuestion').html(QueDetail);
            var currentObjInner = $.parseJSON(objModel);
            $.each(currentObjInner, function () {
                if (IsStartInner) {
                    
                    if (AnswerIDInner > 0) {
                        var btnAnswer = $('<div><input type="button" id="btnAnswer' + AnswerIDInner + '" value="' + AnsDetailInner + '" /></div><br />')
                        $('#divAddButton').append(btnAnswer);
                    }
                }
            });
        }
    }

    function PlayVideoById(videoId) {
        var currentObjVideo = $.parseJSON(objModel);
        var VideoId;
        var IsStart;
        var VideoURL;
        var QuestionID;
        var QueDetail;
        var AnswerID;
        var AnsDetail;
        var NextVideoID;
        var NextLink;
        currentVideoId = videoId;
        $.each(currentObjVideo, function () {
            VideoId = this['VideoID'];
            IsStart = this['IsStart'];
            VideoURL = this['VideoURL'];
            QuestionID = this['QuestionID'];
            QueDetail = this['QueDetail'];
            AnswerID = this['AnswerID'];
            AnsDetail = this['AnsDetail'];
            NextVideoID = this['NextVideoID'];
            NextLink = this['NextLink'];

            if (videoId == VideoId) {

            }
        });
    }

    function PlayVideo(objVideo) {
        
        $.each(objVideo, function () {

            IsStart = this['IsStart'];
            VideoURL = this['VideoURL'];
            QuestionID = this['QuestionID'];
            QueDetail = this['QueDetail'];
            AnswerID = this['AnswerID'];
            AnsDetail = this['AnsDetail'];
            NextVideoID = this['NextVideoID'];
            NextLink = this['NextLink'];

            if (VideoURL.indexOf("youtube.com") != -1 || VideoURL.indexOf("youtu.be") != -1) {
                var YTVideoId = getYouTubeVideoID(VideoURL);
                YoutubePlayer.loadVideoById(YTVideoId, 0, "Auto");
                $('#YoutubePlayer').show();
            }
            else if (VideoURL.indexOf("vimeo.com") != -1) {

                var VimeoVideoId = getVimeoVideoID(VideoURL);


                $('#VimeoPlayer').attr("src", "https://player.vimeo.com/video/" + VimeoVideoId);
                $('#VimeoPlayer').show();

                var VimeoPlayer = new Vimeo.Player($('#VimeoPlayer'));
                VimeoPlayer.play();
                VimeoPlayer.on('ended', function () {
                    $('#VimeoPlayer').hide();

                    VideoShowHide('@Html.Raw(Json.Encode(Model))');
                });
            }
            else {
                $('#LiveVideoPlayer').attr("src", VideoURL);
                $('#LiveVideoPlayer').show();
            }
        });
}

document.getElementById("LiveVideoPlayer").addEventListener("ended", function () {
    $('#LiveVideoPlayer').hide();
}, false);
</script>
