﻿@{
    ViewBag.Title = "Test Embed Code";
    Layout = null;
}

<h2>Enter your Embed Code and Click on Submit to test it</h2>
<script src="~/Content/JS/jquery-3.2.1.min.js"></script>
<div>
    <textarea id="txtHtml" style="height:80px;width:500px;">

    </textarea>
    <button id="btnEmbAdd" style="margin:25px;position:absolute;" onclick="test()">Submit</button>
</div>
<div id="divHtml">

</div>

<script>
    $(document).ready(function () {

      
    });

    function test() {
        $("#divHtml").html($("#txtHtml").val());
    }
</script>


