﻿<link href="~/Content/Css/bttn.min.css" rel="stylesheet" />

<link href="~/Content/Css/question.css" rel="stylesheet" />

<div id="changeColorModal" class="myModal">

    <!-- Modal content -->
    <div class="myModal-content">
        <span class="close1">&times;</span>
        <p>Change Color Form</p>


        <div class="modal-body">
            <div class="row">
                <div class="col-md-6" style="border-right: 1px dashed;">
                    <div class="row">
                        <div class="col-md-7">
                            <label>Question Background Color</label>

                        </div>
                        <div class="col-md-5">
                            <input id='cpQueBG' class="cp" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <label>Question Font Color</label>

                        </div>
                        <div class="col-md-5">
                            <input id='cpQueFont' class="cp" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <label>Answer Background Color</label>

                        </div>
                        <div class="col-md-5">
                            <input id='cpAnsBG' class="cp" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <label>Answer Font Color</label>

                        </div>
                        <div class="col-md-5">
                            <input id='cpAnsFont' class="cp" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <label>Answer Hover Background Color</label>

                        </div>
                        <div class="col-md-5">
                            <input id='cpAnsHoverBG' class="cp" />

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <label>Answer Hover Font Color</label>

                        </div>
                        <div class="col-md-5">
                            <input id='cpAnsHoverFont' class="cp" />

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="div_que" style="right: 36%; top: -17%;">
                        
                    </div>

                    <button onclick="ApplyCssForChangeColor();" style="border-radius: initial;" class="row bttn-unite bttn-md bttn-primary answerText">Apply</button>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btnWhiteSpace" data-dismiss="modal" id="btnSubscribeSave">Save</button>
            </div>

        </div>
    </div>

</div>

<link href="https://cdn.rawgit.com/bgrins/spectrum/master/spectrum.css" rel="stylesheet" />

<script>

    $(document).ready(function () {

        $("#cpQueBG").spectrum({
            color: btnColor.QueBG, preferredFormat: "hex",
            showInput: true,
        });
        $("#cpQueFont").spectrum({
            color: btnColor.QueFont, preferredFormat: "hex",
            showInput: true,
        });
        $("#cpAnsBG").spectrum({
            color: btnColor.AnsBG, preferredFormat: "hex",
            showInput: true,
        });
        $("#cpAnsFont").spectrum({
            color: btnColor.AnsFont, preferredFormat: "hex",
            showInput: true,
        });
        $("#cpAnsHoverBG").spectrum({
            color: btnColor.AnsHoverBG, preferredFormat: "hex",
            showInput: true,
        });
        $("#cpAnsHoverFont").spectrum({
            color: btnColor.AnsHoverFont, preferredFormat: "hex",
            showInput: true,
        });

        ApplyCssForChangeColor();

        $("#btnSubscribeSave").click(function () {
            SavebtnColor();
            $("#changeColorModal").hide();
        });
    });

    function ApplyCssForChangeColor() {
        SavebtnColor();
        setQueAnsInlineStyle(btnColor);

        var div_que = "<div class='questionText'>"
                        + "<div " + que_inline_css + " class='questionLabel'>"
                        + "<a class='closeButton'></a><label>Question</label>"
                        + "</div></div>"
                        + "<div>"
                        + "<button " + ans_inline_css + ">Video</button>"
                        + "<a " + ans_inline_css + " href='#'>Link</a>"
                        + "<a " + ans_inline_css + " href='#'>Contact</a>"
                        + "</div>";
        
        $("#div_que").html(div_que);
    }

    function SavebtnColor() {
        btnColor.QueBG = $("#cpQueBG").spectrum('get').toHexString();
        btnColor.QueFont = $("#cpQueFont").spectrum('get').toHexString();
        btnColor.AnsBG = $("#cpAnsBG").spectrum('get').toHexString();
        btnColor.AnsFont = $("#cpAnsFont").spectrum('get').toHexString();
        btnColor.AnsHoverBG = $("#cpAnsHoverBG").spectrum('get').toHexString();
        btnColor.AnsHoverFont = $("#cpAnsHoverFont").spectrum('get').toHexString();
    }

</script>
