﻿<div id="subscribeModal" class="myModal">

    <!-- Modal content -->
    <div class="myModal-content">
        <span class="close1">&times;</span>
        <p>SubScribe Form</p>
        <div id="">
            <div class="modal-body">
                <label>Subscribe Email:</label>
                <input type="text" class="form-control" id="txtSubscribeEmail" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btnWhiteSpace" data-dismiss="modal" id="btnSubscribeSave">Save</button>
            </div>

        </div>

    </div>

</div>


<script>
    $(document).ready(function () {
        $("#btnSubscribeSave").click(function () {

            var email = $("#txtSubscribeEmail").val();
            if (email != '') {
                $.ajax({
                    url: '@Url.Action("SubscribeSave", "Video")',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ EmailId: email }),
                    success: function (data) {

                        if (data[0]) {
                            MessageFadeInFadeOut("alert-success", data[1]);
                        }
                        else {
                            MessageFadeInFadeOut("alert-danger", data[1]);
                        }

                        $("#subscribeModal").hide();
                    },
                    error: function () {
                        MessageFadeInFadeOut("alert-danger", "Error Occured");
                    }
                });
            }

        });

    });
</script>


