﻿@using VideoProject.Model;

@{
    ViewBag.Title = "VideoCampaignList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int VideoCampaignID = 0;

    string txtCampaignName = string.Empty;
    string txtDuration = string.Empty;
    string ComposerData = "{\"Sources\": [],\"Elements\": [],\"Paths\": []}";

    VideoCampaignModel vcm = ViewBag.VideoCampaignModel;

    if (vcm != null)
    {
        VideoCampaignID = vcm.VideoCampaignID;

        txtCampaignName = vcm.Name;

        int QuestionDuration = vcm.QuestionDuration ?? 0;
        if (QuestionDuration > 0)
        {
            txtDuration = Convert.ToString(QuestionDuration);
        }

        if (!string.IsNullOrWhiteSpace(vcm.ComposerData))
        {
            ComposerData = vcm.ComposerData;
        }
    }
}





@* <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>New Campaign</title>*@

@section CSS{
    <link href="~/Content/Css/MainStyle.css" rel="stylesheet" />
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/solid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/brands.css">
    <link rel="stylesheet" href="~/Content/Css/campagin/vendor/fa-icons.css">

    <link rel="stylesheet" href="~/Content/Css/campagin/composer.css">
}

@section JavaScript
    {
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/campagin/vendor/popper.min.js"></script>
    <script src="~/Scripts/campagin/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/campagin/composer.js"></script>
    <script src="~/Content/JS/Custom/CommonJSFunctions.js"></script>
}



<div class="">
    <div class="row1" style="height: 50px; background-color: #3CB371;">
        <div class="col-sm-6 ml-4 mt-2">
            <div class="row pt-1">
                <input id="txtDuration" type="text" class="col-md-2 form-control mr-1" value="@txtDuration" placeholder="Duration" />
                <input id="txtCampaignName" type="text" class="col-md form-control mr-1" value="@txtCampaignName" placeholder="Campaign Name" />
                <button id="btnSave" type="button" class="col-md-auto btn btn-info btnWhiteSpace" onclick="onSaveCampaginClick()">SAVE</button>
            </div>
        </div>
    </div>
    <div class="composerElement">
    </div>
</div>
@*<div class="container-fluid">
        <div class="row col-sm-12">
            <div class="composerElement">
            </div>
        </div>
    </div>*@


<div id="ImportVideo" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Video</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div>
                    <label>Video URL:</label>
                    <input type="text" class="form-control" id="txtVideoURL" />
                </div>
                <div>
                    <label>Title:</label>
                    <input type="text" class="form-control" id="txtVideoTitle"  />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btnWhiteSpace" data-dismiss="modal" id="btnImportVideo" onclick="ImportVideoFromURL();">Import Video</button>
                <button type="button" class="btn btn-default btnWhiteSpace" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<div style="display: none; margin-top: 20px;">
    <iframe id="axPlayer" width="420" height="325" src="#" target="parent"></iframe>
</div>

<script>
    var composerData = JSON.parse('@Html.Raw(ComposerData)');

    function IntiateComposer() {
        composer.initialize({
            container: $(".composerElement")[0],
            height: document.body.scrollHeight - 90,
            data: composerData
        });
    }
    window.COMPOSER_DEBUG = false;
    var composer = Composer.create(
    {
        "path": "bezier",
        "defaultSkypeImage": '@Url.Content("~/Content/Images/skype.png")',
            "defaultLinkImage": '@Url.Content("~/Content/Images/Link.png")',
            "defaultPhoneImage": '@Url.Content("~/Content/Images/phonecall.png")',
        });





        // when DOM is ready
    $(document).ready(function () {
        localStorage.removeItem("NewVideoCampaignID");
            IntiateComposer();
            // Attach Button click event listener
            $("#composer-add-video").click(function () {
                // show Modal
                $('#ImportVideo').modal('show');
                setTimeout(function () {
                    $('#txtVideoURL').focus();
                }, 300);
            });

            $(".fa-vimeo").click(function () {
                // show Modal
                $('#ImportVideo').modal('show');
                setTimeout(function () {
                    $('#txtVideoURL').focus();
                }, 300);
            });
        });

        function ImportVideoFromURL() {

            var videoURLVal = $('#txtVideoURL').val();
            if (videoURLVal.length > 0) {

                var video_thumbnail = '';

                if (videoURLVal.indexOf("youtube.com") != -1 || videoURLVal.indexOf("youtu.be") != -1) {
                    var iframe = $('#axPlayer');
                    iframe.attr('src', videoURLVal);
                    var iframe_src = iframe.attr('src');
                    var youtube_video_id = iframe_src.match(/youtube\.com.*(\?v=|\/embed\/)(.{11})/).pop();
                    if (youtube_video_id.length == 11) {

                        composer.add({
                            "ID": youtube_video_id,
                            "Thumbnail": "http://img.youtube.com/vi/" + youtube_video_id + "/0.jpg",
                            "Title": $("#txtVideoTitle").val(),
                            "URL": videoURLVal
                        });

                        closeImportVideoPopup();
                    }
                }
                else if (videoURLVal.indexOf("vimeo.com") != -1) {

                    var VimeoVideoId = getVimeoVideoID(videoURLVal);

                    $.ajax({
                        type: 'GET',
                        url: 'http://vimeo.com/api/v2/video/' + VimeoVideoId + '.json',
                        jsonp: 'callback',
                        dataType: 'json',
                        success: function (data) {
                            video_thumbnail = $('<img VideoURL="' + videoURLVal + '" src="' + data[0].thumbnail_large + '">');
                            //$(video_thumbnail).attr('id', 'img' + idCount);
                            //$(video_thumbnail).addClass('imageMain');
                            ///idCount++;
                            composer.add({
                                "ID": VimeoVideoId,
                                "Thumbnail": data[0].thumbnail_large,
                                "Title": $("#txtVideoTitle").val(),
                                "URL": videoURLVal
                            });

                            closeImportVideoPopup();
                        }
                    });
                }

            }
            else {

            }
        }

        // get Vimeo Video id From Vimeo Url
        function getVimeoVideoID(VimeoURL) {
            var VimeoVideoId = VimeoURL.substr(VimeoURL.lastIndexOf("/")).substr(1);

            var checkquerystr = VimeoVideoId.lastIndexOf("?");

            if (checkquerystr != -1) {
                VimeoVideoId = VimeoVideoId.substr(0, checkquerystr);
            }

            return VimeoVideoId;
        }

        function onSaveCampaginClick(url) {

            var cmpName = $("#txtCampaignName").val();
            var NewVideoCampaignID = 0;
            var dur = $("#txtDuration").val();
            if (!cmpName) {
                alert('Campagin Name is Required.');
                return false;
            }
            else {
                if (localStorage.getItem("NewVideoCampaignID") != null) {
                    NewVideoCampaignID = localStorage.getItem("NewVideoCampaignID");
                }
             var data = composer.toJSON();

            var videoCampaign = {

                VideoCampaignID: @VideoCampaignID,
                NewVideoCampaignID: NewVideoCampaignID,
                Name: cmpName,
                QuestionDuration: dur,

                SourcesJson: JSON.stringify(data.Sources),
                ElementsJson: JSON.stringify(data.Elements),
                PathsJson: JSON.stringify(data.Paths),

                ComposerData: JSON.stringify(data)

            };

            $.ajax({
                url: "@Url.Action("SaveNewCampaign", "Video")",
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    vcm: videoCampaign
                }),
                success: function (data) {
                    localStorage.setItem("NewVideoCampaignID", data);
                    if (data && url) {
                        videoCampaignID = localStorage.getItem("NewVideoCampaignID");
                        //window.location.href = '../Video/VideoEdit?id=' + this.uuid + '&campaginID=' + videoCampaignID;
                        window.location.href = url + data;
                    }
                    MessageFadeInFadeOut("alert-success", "Successfully Saved..!!");
                    //location.reload();
                },
                error: function () {
                    MessageFadeInFadeOut("alert-danger", "Error Occured");
                },
                beforeSend: function () {
                    $('.loader').show();
                },
                complete: function () {
                    $('.loader').hide();
                }
            });
          }
        }


        function closeImportVideoPopup() {
            $('#txtVideoURL').val('');
            $("#txtVideoTitle").val('');
            $('#ImportVideo').modal('hide');
        }
</script>
