﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/JS/External/jquery3.2.1.min.js"></script>
    <script src="~/Content/JS/External/youtube_player_api.js"></script>
    <script src="~/Content/JS/External/vimeo_player_api.js"></script>
    <script src="~/Content/JS/Custom/Video.js"></script>
</head>
<body>

    <!-- Testing Url
        
        https://vimeo.com/76979871

        https://player.vimeo.com/video/76979871
        https://www.youtube.com/watch?v=U5Gyw-nGf1I

        https://www.w3schools.com/tags/movie.mp4 
     -->

    <div id="question">
        <p>
            Enter New Link : 
            <input id="txtLink" type="text" />
            <button id="btnPlay" type="button">Play</button>
            <button id="btnVimeoThumbnail" type="button">Show Vimeo Thumbnail</button>
        </p>
    </div>

    <div id="YoutubePlayer" style="display: none;">
    </div>

    <iframe id="VimeoPlayer" style="display: none;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    <video id="LiveVideoPlayer" style="display: none;" controls autoplay>
        Your browser does not support the video tag.
    </video>

    <img id="img_vimeo_thumbnail" src="//:0">
</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {


        $("#btnPlay").click(function () {
            var link = $("#txtLink").val();

            if (link.indexOf("youtube.com") != -1 || link.indexOf("youtu.be") != -1) {

                var YTVideoId = getYouTubeVideoID(link);
                YoutubePlayer.loadVideoById(YTVideoId, 0, "Auto");
                $("#txtLink").val("");
                $('#YoutubePlayer').show();
            }
            else if (link.indexOf("vimeo.com") != -1) {

                var VimeoVideoId = getVimeoVideoID(link);

                $('#VimeoPlayer').attr("src", "https://player.vimeo.com/video/" + VimeoVideoId);
                $("#txtLink").val("");

                $('#VimeoPlayer').show();

                var VimeoPlayer = new Vimeo.Player($('#VimeoPlayer'));
                VimeoPlayer.play();

                VimeoPlayer.on('ended', function () {
                    $('#VimeoPlayer').hide();
                });
            }
            else {

                $('#LiveVideoPlayer').attr("src", link);
                $("#txtLink").val("");
                $('#LiveVideoPlayer').show();
            }
        });
        //event raised after video has ended
        document.getElementById("LiveVideoPlayer").addEventListener("ended", function () {
            $('#LiveVideoPlayer').hide();
        }, false);

        $("#btnVimeoThumbnail").click(function () {
            var link = $("#txtLink").val();

            var VimeoVideoId = getVimeoVideoID(link);

            $.ajax({
                type: 'GET',
                url: 'http://vimeo.com/api/v2/video/' + VimeoVideoId + '.json',
                jsonp: 'callback',
                dataType: 'json',
                success: function (data) {
                    $("#img_vimeo_thumbnail").attr('src', data[0].thumbnail_large);
                }
            });
        });
    });

</script>
