﻿@model IEnumerable<VideoProject.Model.VideoCampaignModel>

@{
    ViewBag.Title = "VideoCampaignList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VideoCampaignList</h2>
@section CSS{

    @* <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />*@
    @* <link href="~/Content/JS/jquery-ui.min.css" rel="stylesheet" />*@
    @* <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />*@
    <link href="~/Content/JS/plyr/plyr.css" rel="stylesheet" />
    <link href="~/Content/Css/seekbar.css" rel="stylesheet" />

    <link href="~/Content/Css/MainStyle.css" rel="stylesheet" />
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/JS/jquery-ui.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <style>
        .hide {
            display: none;
        }

        .Checkbox {
            width: 20px;
            height: 20px;
            position: relative;
        }

            .Checkbox > * {
                position: absolute;
            }

        .Checkbox-visible {
            border: 1px solid gray;
            width: 16px;
            height: 16px;
            margin: 2px;
            background: #fff;
            border: 1px solid #dedede;
            border-radius: 3px;
        }

        .Checkbox > input {
            z-index: 1;
            opacity: 0;
            left: 50%;
            top: 50%;
            -webkit-transform: translatex(-50%) translatey(-50%);
            transform: translatex(-50%) translatey(-50%);
            display: block;
            cursor: pointer;
            width: 20px;
            height: 20px;
        }

            .Checkbox > input:checked + .Checkbox-visible {
                background: #59cb59;
                border-color: #59cb59;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTQnIGhlaWdodD0nMTQnIHZpZXdCb3g9JzAgMCAxNCAxNCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48dGl0bGU+d2hpdGU8L3RpdGxlPjxwYXRoIGQ9J001LjM3OCAxMS4zN0wyIDcuNTlsMS40MzgtMS4yODZMNS4zNzQgOC40N2w1LjE4NS01Ljg0TDEyIDMuOTFsLTYuNjIyIDcuNDYnIGZpbGw9JyNmZmYnLz48L3N2Zz4=);
            }

            .Checkbox > input:hover + .Checkbox-visible {
                border-color: #cccccc;
            }

            .Checkbox > input:hover:checked + .Checkbox-visible {
                border-color: #0ca750;
            }

            .Checkbox > input:focus + .Checkbox-visible {
                border-color: #59cb59;
            }

        #div_que {
            text-align: center;
        }

        .paginate_button:hover {
            background-color: darkblue !important;
        }
    </style>

    <style>
        /* The Modal (background) */
        .myModal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .myModal-content {
            background-color: #fefefe;
            margin: 5% 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close1 {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close1:hover,
            .close1:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
            
    .container1 {
        margin: 20px auto;
        max-width: 70%;
        position: relative;
    }

    .plyr__controls {
        opacity: 0;
    }

    .plyr__control {
        opacity: 0;
    }

    </style>

    <style>
        .myModal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .myModal-content {
            background-color: #fefefe;
            margin: 5% 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }
    </style>
}
@section JavaScript{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/FBSdk.js"></script>

    <script src="~/Content/JS/plyr/plyr.js"></script>

    <script src="~/Content/JS/seekbar.js"></script>
    <script src="~/Scripts/campagin/vendor/bootstrap.min.js"></script>
}
<script>

    // When the user clicks anywhere outside of the modal, close it
    //window.onclick = function (event) {
    //    if (event.target == modal) {
    //        modal.style.display = "none";
    //    }
    //}
    //$("body").on('click', ".close1", function () {

    //    ////if (YoutubePlayer != null) {
    //    ////    YoutubePlayer.stopVideo();
    //    ////}

    //    $(this).parents('.myModal').hide();
    //});

</script>
<div id="PreviewModal" class="modal fade" role="dialog" style="">
    <div class="modal-dialog modal-lg modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h4 class="modal-title">Preview</h4>
            </div>
            <div class="modal-body" id="videopreviewbody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<table border="1" style="width: 99%" id="tblData" class="table table-striped table-bordered">
    @if (Model != null)
    {
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    MobileVideoURL
                </th>
                <th>
                    CreatedDate
                </th>
                <th>
                    Embed Code
                </th>
                @* <th>Facebook Share
                    </th>*@
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string MobileVideoURL = Url.Action("PlayVideo", "VideoPlay", new { }, this.Request.Url.Scheme) + "/" + item.VideoCampaignID;
                string Embed_Code = "<iframe src='" + MobileVideoURL + "' style='width:100%;height:500px;'></iframe>";
                string capURL = Url.Action("CreateNewCampaign", "Video", new { id = item.VideoCampaignID }, this.Request.Url.Scheme);
                string deleteURL = Url.Action("DeleteVideoCampaign", "Video", new { id = item.VideoCampaignID }, this.Request.Url.Scheme);

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @*<a target="_blank" href="@MobileVideoURL">@Html.DisplayFor(modelItem => item.Name)</a>*@
                        <a id="mobilelink" data-campaignid="@item.VideoCampaignID">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Embed_Code
                    </td>
                    @*<td style="text-align: center">
                            <img src="~/Content/Images/facebook32.png" url="@item.URL" redirect-url="@MobileVideoURL" style="height:25px;width:25px" class="fb-share" />
                        </td>*@
                    <td>
                        <a href="@capURL">Edit</a>
                    </td>
                     <td>
                        <a href="@deleteURL" onclick="return confirm('Are you sure you want to Delete?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

@*<div style="display: none; margin-top: 20px;">
    <iframe id="axPlayer" width="420" height="325" src="#" target="parent"></iframe>
</div>*@

<div id="myModal" class="myModal">

    <!-- Modal content -->
    <div class="myModal-content">
        <span class="close1">&times;</span>

        <div>
            <input type="text" class="form-control" id="txtFBShareTitle" placeholder="Put Your Custom Title Here" />
        </div>

        <br />

        <div>
            <input type="text" class="form-control" id="txtFBShareDescription" placeholder="Put Your Custom Description Here" />
        </div>

        <br />

        <div class="row">
            <div class="col-md-6">
                <label><input type="radio" checked="checked" name="optShareFBImg" value="Default">Default Image</label>
                <br />
                <label><input type="radio" name="optShareFBImg" value="Upload">Upload Image</label>
                <br />
                <label><input type="radio" name="optShareFBImg" value="Live">Live Image</label>
            </div>

            <div id="dvFBShareDefault" class="col-md-6">
                <img id="imgFBShareDefault" src="//:0" class="img-thumbnail" />
            </div>

            <div id="dvFBShareUpload" class="col-md-6" style="display:none;">
                <input id="chooseimgFBShareUpload" type="file" name="file">
                <img id="imgFBShareUpload" src="//:0" class="img-thumbnail" />
            </div>

            <div id="dvFBShareLiveImg" class="col-md-6" style="display:none;">
                <input type="text" class="form-control" id="txtFBShareLiveImg" placeholder="Put Live Image URL Here" />
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" id="btnFBShare" class="btn btn-primary btnWhiteSpace">Submit</button>
        </div>

    </div>

</div>

<script>

    //For FBShare
    var videoURLVal, redirectURL, imageURL, FBDesc, FBTitle, optShareFBImg;

    $(document).ready(function () {

        $('#tblData').DataTable();

        $(".fb-share").click(function () {

            $('#imgFBShareDefault').attr("src", "");

            videoURLVal = $(this).attr('url');
            redirectURL = $(this).attr('redirect-url');

            if (videoURLVal.indexOf("youtube.com") != -1 || videoURLVal.indexOf("youtu.be") != -1) {
                var iframe = $('#axPlayer');
                iframe.attr('src', videoURLVal);

                var youtube_video_id = videoURLVal.match(/youtube\.com.*(\?v=|\/embed\/)(.{11})/).pop();
                if (youtube_video_id.length == 11) {
                    imageURL = "http://img.youtube.com/vi/" + youtube_video_id + "/0.jpg";
                }

                iframe.attr('src', '');

                $('#imgFBShareDefault').attr("src", imageURL);
            }
            else if (videoURLVal.indexOf("vimeo.com") != -1) {

                var VimeoVideoId = getVimeoVideoID(videoURLVal);

                $.ajax({
                    type: 'GET',
                    url: 'http://vimeo.com/api/v2/video/' + VimeoVideoId + '.json',
                    jsonp: 'callback',
                    dataType: 'json',
                    success: function (data) {
                        imageURL = data[0].thumbnail_large;
                    }
                });

                // executeFunc.Wait();
            }

            if (imageURL != "") {
                setTimeout(function () {
                    $('#imgFBShareDefault').attr("src", imageURL);
                }, 1000);
            }

            modal = document.getElementById('myModal');
            modal.style.display = "block";
        });

        $('input[type=radio][name=optShareFBImg]').change(function () {

            optShareFBImg = $(this).val();

            if (optShareFBImg == "Default") {
                $("#dvFBShareUpload, #dvFBShareLiveImg").hide();
                $("#dvFBShareDefault").show();
            }
            else if (optShareFBImg == "Upload") {
                $("#dvFBShareDefault, #dvFBShareLiveImg").hide();
                $("#dvFBShareUpload").show();
            }
            else if (optShareFBImg == "Live") {
                $("#dvFBShareDefault, #dvFBShareUpload").hide();
                $("#dvFBShareLiveImg").show();
            }
        });

        $("#chooseimgFBShareUpload").change(function () {

            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgFBShareUpload').attr('src', e.target.result);
                }

                reader.readAsDataURL(this.files[0]);
            }
        });

        $("#btnFBShare").click(function () {
            FBTitle = $("#txtFBShareTitle").val();
            FBDesc = $("#txtFBShareDescription").val();

            if (optShareFBImg == "Default") {
                imageURL = $('#imgFBShareDefault').attr("src");
            }
            else if (optShareFBImg == "Upload") {
                UploadFBShareImagesAndSetURL();
            }
            else if (optShareFBImg == "Live") {
                imageURL = $('#txtFBShareLiveImg').val();
            }

            setTimeout(function () {
                // Open FB share popup
                FB.ui({
                    method: 'share_open_graph',
                    action_type: 'og.shares',
                    action_properties: JSON.stringify({
                        object: {
                            'og:url': redirectURL,
                            'og:title': FBTitle,
                            'og:description': FBDesc,
                            'og:image': imageURL
                        }
                    })
                },
                function (response) {
                    // Action after response
                });
            }, 1000);
        });
    });

    function getVimeoVideoID(VimeoURL) {
        var VimeoVideoId = VimeoURL.substr(VimeoURL.lastIndexOf("/")).substr(1);

        var checkquerystr = VimeoVideoId.lastIndexOf("?");

        if (checkquerystr != -1) {
            VimeoVideoId = VimeoVideoId.substr(0, checkquerystr);
        }

        return VimeoVideoId;
    }

    FB.init({
        appId: '290083624766797',
        version: 'v2.7' // or v2.1, v2.2, v2.3, ...
    });

    function UploadFBShareImagesAndSetURL()
    {
        // Checking whether FormData is available in browser
        if (window.FormData !== undefined) {

            var fileUpload = $("#chooseimgFBShareUpload").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            $.ajax({
                url: "@Url.Action("UploadFBShareImages", "Video")",
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    imageURL = result;
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }
        else
        {
            alert("FormData is not supported.");
        }
    }
    $('#mobilelink').on('click',function ()
    {


        var CampaignId = $(this).attr('data-campaignid');

        $.ajax({
            type: "GET",
            url: "/Video/CampaignVideoPreview",
            data: { campaginID: CampaignId },
            cache: false,
            beforeSend: function () {
                //$('.lds-spinner').show();
            },
            success: function (data) {

                $('#videopreviewbody').empty();
                $('#videopreviewbody').append(data);
                $('#PreviewModal').modal('show');
            },
            error: function (jqXHR, exception) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status == 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status == 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                }
                alert(msg);
            }
        });

    })
</script>