﻿@model VideoProject.Model.VideoModel

@{
    ViewBag.Title = "VideoPreview";
    Layout = null;

}
<script type="text/javascript">
    var Elementcollectionprev = [];
</script>
<style type="text/css">
    .lds-spinner {
        color: indianred;
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: visible;
        z-index: 999999999;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        -moz-box-pack: center;
        -moz-box-align: center;
        display: -moz-box;
        text-align: center;
        background: rgba(0, 0, 0,0.8);
    }

        .lds-spinner div {
            transform-origin: 40px 40px;
            animation: lds-spinner 1.2s linear infinite;
        }

            .lds-spinner div:after {
                top: 50%;
                content: " ";
                display: block;
                position: absolute;
                top: 3px;
                left: 37px;
                width: 6px;
                height: 18px;
                border-radius: 20%;
                background: #00ff21;
            }

            .lds-spinner div:nth-child(1) {
                transform: rotate(0deg);
                animation-delay: -1.1s;
            }

            .lds-spinner div:nth-child(2) {
                transform: rotate(30deg);
                animation-delay: -1s;
            }

            .lds-spinner div:nth-child(3) {
                transform: rotate(60deg);
                animation-delay: -0.9s;
            }

            .lds-spinner div:nth-child(4) {
                transform: rotate(90deg);
                animation-delay: -0.8s;
            }

            .lds-spinner div:nth-child(5) {
                transform: rotate(120deg);
                animation-delay: -0.7s;
            }

            .lds-spinner div:nth-child(6) {
                transform: rotate(150deg);
                animation-delay: -0.6s;
            }

            .lds-spinner div:nth-child(7) {
                transform: rotate(180deg);
                animation-delay: -0.5s;
            }

            .lds-spinner div:nth-child(8) {
                transform: rotate(210deg);
                animation-delay: -0.4s;
            }

            .lds-spinner div:nth-child(9) {
                transform: rotate(240deg);
                animation-delay: -0.3s;
            }

            .lds-spinner div:nth-child(10) {
                transform: rotate(270deg);
                animation-delay: -0.2s;
            }

            .lds-spinner div:nth-child(11) {
                transform: rotate(300deg);
                animation-delay: -0.1s;
            }

            .lds-spinner div:nth-child(12) {
                transform: rotate(330deg);
                animation-delay: 0s;
            }

    @@keyframes lds-spinner {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>
<style type="text/css">
    .greenbg {
        background-color: #3CB371;
    }

    .text-light {
        font-size: 12px;
    }

    #maincontainerprev > .plyr > .plyr__control {
        opacity: 1 !important;
        z-index: 99999999 !important;
    }

    .sidebartitle {
        margin: 0px;
        color: #ffd800;
        font: 14px bold;
        font-weight: bolder;
        width: 100%;
        padding: 0px;
        font-family: Calibri;
        line-height: 30px;
        border-bottom: 1px solid;
    }

    .container1 {
        margin: 20px auto;
        max-width: 70%;
        position: relative;
    }


    .texttype {
        display: none;
    }
</style>
@section CSS{
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/JS/plyr/plyr.css" rel="stylesheet" />
    <link href="~/Content/Css/seekbar.css" rel="stylesheet" />
}

@section JavaScript
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" integrity="sha256-siFczlgw4jULnUICcdm9gjQPZkw/YPDqhQ9+nAOScE4=" crossorigin="anonymous"></script>
    <script src="~/Scripts/campagin/vendor/bootstrap.min.js"></script>
    <script src="~/Content/JS/plyr/plyr.js"></script>

    <script src="~/Content/JS/seekbar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>



}

@using (Html.BeginForm("VideoPreview", "Video", FormMethod.Post, new { @id = "frmPreview", @class = "form-elements" }))
{
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <div class="">
        <div class="mainhotspotmprev" data-height="0" data-width="0" data-type="hotstpot" data-name="hostpot" data-timein="0" data-timeout="" data-playonce=0 style="border: 2px dotted #00ff21;height: 70px;
        width: 70px;position: absolute;z-index: 999999;border-radius: 4px;display:none;cursor: pointer;"></div>
        <h3 class="maintextmprev" data-height="0" data-width="0" data-type="text" data-name="text" data-playonce=0 data-timein="0" data-timeout="" style="height:70px;width:70px;position:absolute;z-index:999999;display:none;cursor: pointer;"></h3>
        <button type="button" class="mainbuttonmprev" data-color="#ffd800" data-fcolor="#000" data-height="0" data-width="0" data-type="button" data-name="hostpot" data-timein="0" data-timeout="" data-action="" data-actionitem="" style="position:absolute;z-index:999999;display:none;cursor:pointer"></button>

    </div>
    <div class="container-fluid" style="max-width:600px;max-height:400px;">
        <div class="row border-top">
            <div class="col-md-8" style="">

                <div class="container1" id="maincontainerprev" style="max-width:600px;width:600px;">

                    @Html.HiddenFor(m => m.VideoID)
                    @Html.HiddenFor(m => m.VideoCampaignID)

                    <div id="vidPreview" data-plyr-provider=@Model.VideoType data-hotspotID="0" data-plyr-embed-id=@Model.VideoURLID style="position:absolute !important;z-index:0 !important;overflow:visible"></div>
                    <div id="seekbar-containerprev" style="width:100%;height:50px;"></div>
                </div>


            </div>
        </div>
    </div>
}
<script type="text/javascript">

    $('.lds-spinner').show();
    var seekbarprev;
    var hotspotcount = 0; var textcount = 0;
    var seekbarcreate = 0;
    var ctrl = '';
    var playerprev = new Plyr('#vidPreview', {});
    playerprev.fullscreen.enabled = false;
    var hotspot =
        playerprev.on('ready', function (data) {
            playerprev.media.play();

            //var iframess = document.getElementsByTagName('iframe')[0];
            //console.log(iframess.id);
            //var embedid = $('#videoid').val();//.data('plyr-embed-id');
            //player.poster = 'https://img.youtube.com/vi/'+embedid +'/0.jpg';
        });
    playerprev.on('seeked', () => {
        playerprev.media.pause();
    });
    playerprev.on("enterfullscreen", function(){
        playerprev.fullscreen.exit()
    });
    playerprev.on('timeupdate', () => {
        if (playerprev.duration > 0 && seekbarcreate == 0) {
            seekbarcreate = 1;
            playerprev.media.pause();
            createseekbar(playerprev.duration);
            seekbarprev.setValue(playerprev.currentTime);
            try {
                 playerprev.media.pause();
                 var ElementArray = JSON.parse('@Html.Raw(Json.Encode(Model.VideoElements.ToList()))');
                 addHotspotExistingprev(ElementArray);
            } catch (e) {

            }
        }
        else {
            seekbarprev.setValue(playerprev.currentTime);
            HideShowElementprev(playerprev.currentTime);
            return false;
        }
    });

    function createseekbar(duration) {
        $('#seekbar-containerprev').find('.dhtmlgoodies-seekbar').remove();
        seekbarprev = new Seekbar.Seekbar({
            renderTo: "#seekbar-containerprev",
            minValue: 0, maxValue: duration,
            valueListener: function (value) {
                this.setValue(Math.round(value));
                playerprev.currentTime = Math.round(value);
                HideShowElementprev(value);
            }
        });
    }

</script>

<script>

    function addHotspotExistingprev(data) {

        Elementcollectionprev = [];
        $.each(data, function (i, item) {

            if (data[i].ElementType == 1) {
                $(".mainhotspotmprev").clone().appendTo("#maincontainerprev");
                $('#maincontainerprev .mainhotspotmprev:last').addClass('mainhotspot');
                $('#maincontainerprev .mainhotspotmprev:last').removeClass('mainhotspotmprev');
            }
            else if (data[i].ElementType == 2) {
                $(".maintextmprev").clone().appendTo("#maincontainerprev");
                $('#maincontainerprev .maintextmprev:last').addClass('mainhotspot');
                $('#maincontainerprev .maintextmprev:last').removeClass('maintextmprev');
                $('#maincontainerprev .mainhotspot:last').css('border', 'none');
                $('#maincontainerprev .mainhotspot:last').text(data[i].ElementName);
                $('#maincontainerprev .mainhotspot:last').css('color', data[i].FontColor);
            }
            else if (data[i].ElementType == 3) {
                $(".mainbuttonmprev").clone().appendTo("#maincontainerprev");
                $('#maincontainerprev .mainbuttonmprev:last').addClass('mainhotspotmprev');
                $('#maincontainerprev .mainbuttonmprev:last').addClass('mainhotspot');
                $('#maincontainerprev .mainbuttonmprev:last').removeClass('mainbuttonm');
                $('#maincontainerprev .mainhotspot:last').css('background-color', data[i].BackColor);
                $('#maincontainerprev .mainhotspot:last').css('color', data[i].FontColor);
                $('#maincontainerprev .mainhotspot:last').attr('data-color', data[i].FontColor);
                $('#maincontainerprev .mainhotspot:last').html(data[i].ElementName);
            }
            //    $('#maincontainerprev .mainhotspot:last').css('border', 'none');
            //}

            //$('#maincontainerprev .mainhotspot:last').css('display', 'block');
            $('#maincontainerprev .mainhotspot:last').css('width', data[i].ElementWidth + 'px');
            $('#maincontainerprev .mainhotspot:last').css('height', data[i].ElementHeight + 'px');
            $('#maincontainerprev .mainhotspot:last').css('font-size', data[i].FontSize + 'px');
            $('#maincontainerprev .mainhotspot:last').css('transform', 'translate(' + data[i].ElementPositionX + 'px, ' + data[i].ElementPositionY + 'px)');
            $('#maincontainerprev .mainhotspot:last').attr('id', data[i].ElementID);
            $('#maincontainerprev .mainhotspot:last').attr('name', data[i].ElementName);
            $('#maincontainerprev .mainhotspot:last').attr('data-name', data[i].ElementName);
            $('#maincontainerprev .mainhotspot:last').attr('data-x', data[i].ElementPositionX);
            $('#maincontainerprev .mainhotspot:last').attr('data-y', data[i].ElementPositionY);
            $('#maincontainerprev .mainhotspot:last').attr('data-height', data[i].ElementHeight);
            $('#maincontainerprev .mainhotspot:last').attr('data-width', data[i].ElementWidth);
            $('#maincontainerprev .mainhotspot:last').attr('data-timein', data[i].Timein);
            $('#maincontainerprev .mainhotspot:last').attr('data-timeout', data[i].TimeOut);
            $('#maincontainerprev .mainhotspot:last').attr('data-id', data[i].ElementID);
            $('#maincontainerprev .mainhotspot:last').attr('data-type', data[i].ElementType);
            $('#maincontainerprev .mainhotspot:last').attr('data-fsize', data[i].FontSize);
            $('#maincontainerprev .mainhotspot:last').attr('data-color', data[i].FontColor);
            $('#maincontainerprev .mainhotspot:last').attr('data-bcolor', data[i].BackColor);
            $('#maincontainerprev .mainhotspot:last').attr('data-action', data[i].Action);
            $('#maincontainerprev .mainhotspot:last').attr('data-actionitem', data[i].ActionItem);
            Elementcollectionprev.push(data[i].ElementID);

            if (parseInt(data[i].Action) != 0 && data[i].ActionItem != '')
            {
                $('#maincontainerprev .mainhotspot:last').on('click', function ()
                {
                    PreviewVideoNode(data[i].ActionItem);
                });
            }
        });
        $('.lds-spinner').hide();
        console.log(JSON.stringify(Elementcollectionprev));
    }


    function HideShowElementprev(value) {

        value = playerprev.currentTime + 0.5;
        var ecount = 0;
        var starttime; var endtime;
        for (ecount = 0; ecount < Elementcollectionprev.length; ecount++) {
            var elementadd = $('#maincontainerprev').find('#' + (Elementcollectionprev[ecount]));
            starttime = $(elementadd).attr('data-timein');
            endtime = $(elementadd).attr('data-timeout');
            if (value >= starttime && value <= endtime && $(elementadd).attr('data-playonce') == 0) {
                playerprev.media.pause();
                $(elementadd).css('display', 'block');
                $(elementadd).attr('data-playonce', 1);
                return false;
            } else {
                if (playerprev.paused == false) {
                    $(elementadd).css('display', 'none');
                    if (endtime - value > 2) {
                        $(elementadd).attr('data-playonce', 0);
                    }
                }
                else {

                }
            }
        }
    }



    //$("#btnSave").click(function (e) {

    //    var VideoElements = new Array();
    //    var VideoId = $('#VideoID').val();

    //    try {
    //        for (ecount = 0; ecount < Elementcollection.length; ecount++) {
    //            var ElementValue = {};
    //            var elementadd = document.getElementById(Elementcollection[ecount]);
    //            ElementValue.ElementHeight = parseInt($(elementadd).attr('data-height'));
    //            ElementValue.ElementWidth = parseInt($(elementadd).attr('data-width'));
    //            ElementValue.ElementName = $(elementadd).attr('data-name');
    //            ElementValue.Timein = parseFloat($(elementadd).attr('data-timein'));
    //            ElementValue.TimeOut = parseFloat($(elementadd).attr('data-timeout'));
    //            ElementValue.ElementPositionX = parseInt($(elementadd).attr('data-x'));
    //            ElementValue.ElementPositionY = parseInt($(elementadd).attr('data-y'));
    //            ElementValue.VideoID = parseInt(VideoId);
    //            // ElementValue.CampaignID = parseInt(VideoCampaignID);
    //            if ($(elementadd).attr('data-id') !== null && $(elementadd).attr('data-id') !== undefined) {
    //                ElementValue.ElementID = $(elementadd).attr('data-id');
    //            }
    //            else {
    //                ElementValue.ElementID = 0;
    //            }
    //            ElementValue.ElementType = parseInt($(elementadd).attr('data-type'));
    //            ElementValue.FontSize = parseInt($(elementadd).attr('data-fsize'));
    //            ElementValue.FontColor = $(elementadd).attr('data-color');
    //            ElementValue.pauseWhileShow = false;
    //            ElementValue.Action = "";
    //            ElementValue.ActionItem = "";
    //            VideoElements.push(ElementValue);
    //        }

    //        $.ajax({
    //            type: "POST",
    //            url: "/Video/VideoEdit",
    //            data: JSON.stringify(VideoElements),
    //            dataType: "json",
    //            contentType: "application/json; charset=utf-8",
    //            beforeSend: function () {
    //                $('.lds-spinner').show();
    //            },
    //            success: function (data) {
    //                $('.lds-spinner').hide();
    //                if (data == 1) {
    //                    alert('Save successfully');
    //                    var VideoCampaignID = $('#VideoCampaignID').val();
    //                    window.location.href = './CreateNewCampaign/' + VideoCampaignID;
    //                }
    //                else {

    //                    alert('Save Failed');
    //                }
    //            }
    //        });
    //        $('.lds-spinner').hide();
    //    } catch (e) {

    //    }
    //});

    function PreviewVideoNode(uniqueId) {
        var VideoId = uniqueId;
        var CampaignId = $('#VideoCampaignID').val();

        $.ajax({
            type: "GET",
            url: "/Video/VideoPreview",
            data: { id: VideoId, campaginID: CampaignId },
            cache: false,
            beforeSend: function () {
                $('.lds-spinner').show();
            },
            success: function (data) {

                $('#videopreviewbody').empty();
                $('#videopreviewbody').append(data);
                $('.lds-spinner').hide();

            },
            error: function (jqXHR, exception) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status == 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status == 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                }
                alert(msg);
            }
        });
        $('.lds-spinner').hide();
    }
</script>

