﻿@model VideoProject.Model.VideoModel

@{
    ViewBag.Title = "VideoEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<script type="text/javascript">
    var Elementcollection = [];
</script>
<style type="text/css">
    .lds-spinner {
        color: indianred;
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: visible;
        z-index: 999999999;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        -moz-box-pack: center;
        -moz-box-align: center;
        display: -moz-box;
        text-align: center;
        background: rgba(0, 0, 0,0.8);
    }

        .lds-spinner div {
            transform-origin: 40px 40px;
            animation: lds-spinner 1.2s linear infinite;
        }

            .lds-spinner div:after {
                top: 50%;
                content: " ";
                display: block;
                position: absolute;
                top: 3px;
                left: 37px;
                width: 6px;
                height: 18px;
                border-radius: 20%;
                background: #00ff21;
            }

            .lds-spinner div:nth-child(1) {
                transform: rotate(0deg);
                animation-delay: -1.1s;
            }

            .lds-spinner div:nth-child(2) {
                transform: rotate(30deg);
                animation-delay: -1s;
            }

            .lds-spinner div:nth-child(3) {
                transform: rotate(60deg);
                animation-delay: -0.9s;
            }

            .lds-spinner div:nth-child(4) {
                transform: rotate(90deg);
                animation-delay: -0.8s;
            }

            .lds-spinner div:nth-child(5) {
                transform: rotate(120deg);
                animation-delay: -0.7s;
            }

            .lds-spinner div:nth-child(6) {
                transform: rotate(150deg);
                animation-delay: -0.6s;
            }

            .lds-spinner div:nth-child(7) {
                transform: rotate(180deg);
                animation-delay: -0.5s;
            }

            .lds-spinner div:nth-child(8) {
                transform: rotate(210deg);
                animation-delay: -0.4s;
            }

            .lds-spinner div:nth-child(9) {
                transform: rotate(240deg);
                animation-delay: -0.3s;
            }

            .lds-spinner div:nth-child(10) {
                transform: rotate(270deg);
                animation-delay: -0.2s;
            }

            .lds-spinner div:nth-child(11) {
                transform: rotate(300deg);
                animation-delay: -0.1s;
            }

            .lds-spinner div:nth-child(12) {
                transform: rotate(330deg);
                animation-delay: 0s;
            }

    @@keyframes lds-spinner {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>
<style type="text/css">
    .greenbg {
        background-color: #3CB371;
    }

    .text-light {
        font-size: 12px;
    }

    .sidebartitle {
        margin: 0px;
        color: #ffd800;
        font: 14px bold;
        font-weight: bolder;
        width: 100%;
        padding: 0px;
        font-family: Calibri;
        line-height: 30px;
        border-bottom: 1px solid;
    }

    .container1 {
        margin: 20px auto;
        max-width: 70%;
        position: relative;
    }

    .plyr__controls {
        opacity: 0;
    }

    .plyr__control {
        opacity: 0;
    }

    .texttype {
        display: none;
    }
    .btntype {
           display: none;
    }
</style>
@section CSS{
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/JS/plyr/plyr.css" rel="stylesheet" />
    <link href="~/Content/Css/seekbar.css" rel="stylesheet" />
}

@section JavaScript
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" integrity="sha256-siFczlgw4jULnUICcdm9gjQPZkw/YPDqhQ9+nAOScE4=" crossorigin="anonymous"></script>

    <script src="~/Content/JS/plyr/plyr.js"></script>

    <script src="~/Content/JS/seekbar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="~/Scripts/campagin/vendor/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.8/interact.min.js"></script>


}

@using (Html.BeginForm("VideoEdit", "Video", FormMethod.Post, new { @id = "frmCityMaster", @class = "form-elements" }))
{
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <div id="PreviewModal" class="modal fade" role="dialog" style="">
        <div class="modal-dialog modal-lg modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h4 class="modal-title">Preview</h4>
                </div>
                <div class="modal-body" id="videopreviewbody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="">
        <div class="draggable resizable mainhotspotm" data-height="0" data-width="0" data-type="hotstpot" data-name="hostpot" data-timein="0" data-timeout="" style="        border: 2px dotted #00ff21;
        height: 70px;
        width: 70px;
        position: absolute;
        z-index: 999;
        border-radius: 4px;
        display: none" onclick="setElementPropertie(this);"></div>
        <h3 class="draggable resizable maintextm" data-height="0" data-width="0" data-type="text" data-name="hostpot" data-timein="0" data-timeout="" style="border:2px dotted #00ff21; height:70px;width:70px;position:absolute;z-index:999;border-radius:4px;display:none" onclick="setElementPropertie(this);">Sample Text</h3>
        <button type="button" class="draggable resizable mainbuttonm" data-bcolor="#ffd800"  data-color="#000" data-height="0" data-width="0" data-type="text" data-name="hostpot" data-timein="0" data-timeout="" style="position:absolute;z-index:999;display:none;cursor:default;background-color:#ffd800" onclick="setElementPropertie(this);">Button</button>
        <a href="#" class="list-group-item mainelement" style="display:none"></a>
        <div class="row1" style="height: 50px; background-color: #3CB371; ">
            <div class="col-sm-6 ml-4 mt-2">
                <div class="row pt-1">

                    <button id="btnAddHotspot" type="button" class="col-md-auto btn btn-info btnWhiteSpace" onclick="addHotspot(1);">Hotspot</button>
                    <button id="btnAddButton" type="button" class="col-md-auto btn btn-info btnWhiteSpace" onclick="addHotspot(3);">Button</button>
                    <button id="btnAddText" type="button" class="col-md-auto btn btn-info btnWhiteSpace" onclick="addHotspot(2);">Text</button>
                    &nbsp;<button id="btnSave" type="button" class="col-md-auto btn btn-danger btnWhiteSpace">Save</button>
                    &nbsp;<button id="btnPreview" type="button" class="col-md-auto btn btn-danger btnWhiteSpace" onclick="PreviewVideo();">Preview</button>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row border-top">
            <div class="col-md-2 greenbg p-0" style="height:85vh;">
                <div class="col-md-12 p-2" style="height:80vh;overflow-y:scroll">
                    <div style=" " id="videosidebar">
                        <div class="sidebartitle">Element Properties</div>
                        <span class="text-light">Name</span>
                        <input id="txtElementName" type="text" class="form-control form-control-sm setControlProperties" value="" />
                        <input id="txtElementID" type="hidden" />
                        <span class="text-light">Height</span>
                        <input id="txtElementHeight" type="text" class="form-control form-control-sm setControlProperties" value="" />
                        <span class="text-light">Width</span>
                        <input id="txtElementWidth" type="text" class="form-control form-control-sm setControlProperties" value="" />
                        <span class="text-light texttype">Font Size</span>
                        <input id="txtFontSize" type="number" max="60" min="8" class="form-control form-control-sm setControlProperties texttype" value="" />
                        <span class="text-light texttype">Font Color</span>
                        <input id="txtFontColor" type="color" class="form-control form-control-sm setControlProperties texttype" value="" />
                        <span class="text-light btntype">Back Color</span>
                        <input id="txtBackColor" type="color" class="form-control form-control-sm setControlProperties btntype" value="" />
                        <span class="text-light">Position X </span>
                        <input id="txtElementPositionX" type="text" class="form-control form-control-sm setControlProperties" value="" />
                        <span class="text-light">Position Y </span>
                        <input id="txtElementPositionY" type="text" class="form-control form-control-sm setControlProperties" value="" />
                        <div class="sidebartitle">Behaviour</div>
                        <span class="text-light">On Click</span>
                        <select id="selectAction" class="form-control form-control-sm setControlProperties" onchange="filldropdowns();">
                            <option value="0">Select</option>
                            <option value="V">Play Node</option>
                            <option value="S">Skype</option>
                            <option value="L">Link</option>
                            <option value="P">Phone</option>
                            @*<option value="2">Open URL</option>*@
                        </select>
                        <span class="text-light">Node</span>
                        <select id="selectActionItem" class="form-control form-control-sm setControlProperties">
                            <option value="0">Select</option>
                            @*<option>Node2</option>*@
                            @*@for (int i = 0; i < Model.selectLists.Count; i++)
            {
                <option value="@Model.selectLists[i].Value">@Model.selectLists[i].Text</option>
            }*@
                        </select>

                        <div class="sidebartitle">Timeline</div>
                        <span class="text-light">Timein</span>
                        <input id="txtElementTimeIn" type="text" class="form-control form-control-sm setControlProperties" value="" />
                        <span class="text-light">TimeOut</span>
                        <input id="txtElementTimeOut" type="text" class="form-control form-control-sm setControlProperties" value="" />
                        <br />
                        <button class="justify-content-center btn btn-outline-light btn-sm" type="button" onclick="RemoveElement();">Remove</button>
                    </div>

                </div>
            </div>
            <div class="col-md-8" style="height:85vh;">

                <div class="container1" id="maincontainer" style="max-width:600px;width:600px;">

                    @Html.HiddenFor(m => m.VideoID)
                    @Html.HiddenFor(m => m.VideoCampaignID)
                    @Html.HiddenFor(m => m.UniqueID)
                    @Html.HiddenFor(m => m.VideoType)
                    <div id="vid" data-plyr-provider=@Model.VideoType data-hotspotID="0" data-plyr-embed-id=@Model.VideoURLID style="position:absolute !important;z-index:0 !important;overflow:visible"></div>
                    <div id="seekbar-container" style="width:100%;height:50px">
                    </div>

                </div>
            </div>
            <div class="col-md-2  greenbg p-0" style="height:85vh;">
                <div class="" style="height:80vh;overflow-y:scroll;width:100%">
                    <div style="padding:2px" id="videosidebar">
                        <div class="sidebartitle">Element List</div>
                    </div><br />
                    <div class="container">
                        <div class="list-group" id="ElementContainer">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
<script type="text/javascript">
    var dropdownlist = JSON.parse('@Html.Raw(Json.Encode(Model.selectLists.ToList()))');
    $('.lds-spinner').show();
    var seekbar;
    var hotspotcount = 0; var textcount = 0;
    var seekbarcreate = 0;
    var ctrl = '';
    var player = new Plyr('#vid', {});
    var hotspot =
        player.on('ready', function (data) {
            player.media.play();

            //var iframess = document.getElementsByTagName('iframe')[0];
            //console.log(iframess.id);
            //var embedid = $('#videoid').val();//.data('plyr-embed-id');
            //player.poster = 'https://img.youtube.com/vi/'+embedid +'/0.jpg';
        });
    player.on('seeked', () => {
        player.media.pause();
    });
     player.on("enterfullscreen", function(){
        player.fullscreen.exit()
    });
    player.on('timeupdate', () => {
        if (player.duration > 0 && seekbarcreate == 0) {
            seekbarcreate = 1;
            player.media.pause();
            createseekbar(player.duration);
            seekbar.setValue(player.currentTime);
            try {
                 player.media.pause();
                 var ElementArray = JSON.parse('@Html.Raw(Json.Encode(Model.VideoElements.ToList()))');
                 addHotspotExisting(ElementArray);
            } catch (e) {

            }
        }
        else {
            seekbar.setValue(player.currentTime);
            HideShowElement(player.currentTime);
            return false;
        }
    });

    function createseekbar(duration) {
        $('.dhtmlgoodies-seekbar').remove();
        seekbar = new Seekbar.Seekbar({
            renderTo: "#seekbar-container",
            minValue: 0, maxValue: duration,
            valueListener: function (value) {
                this.setValue(Math.round(value));
                player.currentTime = Math.round(value);
                HideShowElement(value);
            }
        });

        interact('.draggable')
            .draggable({
                // enable inertial throwing
                inertia: true,
                // keep the element within the area of it's parent
                restrict: {
                    restriction: "parent",
                    endOnly: true,
                    elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
                },
                // enable autoScroll
                autoScroll: false,
                // call this function on every dragmove event
                onmove: dragMoveListener,
            })
            .resizable({
                edges: { left: true, right: true, bottom: true, top: true },
                restrict: {
                    restriction: "parent",
                    endOnly: true,
                    elementRect: { top: 0, left: 0, bottom: 0, right: 1 }
                },
                inertia: true
            })
            .on('resizemove', function (event) {
                var target = event.target,
                    x = (parseFloat(target.getAttribute('data-x')) || 0),
                    y = (parseFloat(target.getAttribute('data-y')) || 0);

                // update the element's style
                target.style.width = event.rect.width + 'px';
                target.style.height = event.rect.height + 'px';

                // translate when resizing from top or left edges
                x += event.deltaRect.left;
                y += event.deltaRect.top;

                target.style.webkitTransform = target.style.transform =
                    'translate(' + x + 'px,' + y + 'px)';

                target.setAttribute('data-height', event.rect.height);
                target.setAttribute('data-width', event.rect.width);
                target.setAttribute('data-x', x);
                target.setAttribute('data-y', y);
                try { setElementPropertie(target); } catch (e) { }
            });

        function dragMoveListener(event) {
            var target = event.target,
                // keep the dragged position in the data-x/data-y attributes
                x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
                y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

            // translate the element
            target.style.webkitTransform =
                target.style.transform =
                'translate(' + x + 'px, ' + y + 'px)';

            // update the posiion attributes
            target.setAttribute('data-x', x);
            target.setAttribute('data-y', y);
            try { setElementPropertie(target); } catch (e) { }

        }

        // enable draggables to be dropped into this
        interact('.dropzone').dropzone({
            // Require a 50% element overlap for a drop to be possible
            overlap: 0.50,

            // listen for drop related events:

            ondropactivate: function (event) {
                // add active dropzone feedback
                event.target.classList.add('drop-active');
            },
            ondragenter: function (event) {
                var draggableElement = event.relatedTarget,
                    dropzoneElement = event.target;

                // feedback the possibility of a drop
                dropzoneElement.classList.add('drop-target');
            },
            ondragleave: function (event) {
                // remove the drop feedback style
                event.target.classList.remove('drop-target');
            },
            ondrop: function (event) {
                event.relatedTarget.textContent = 'Dropped';
            },
            ondropdeactivate: function (event) {
                // remove active dropzone feedback
                event.target.classList.remove('drop-active');
                event.target.classList.remove('drop-target');
            }
        });

    }

</script>
<script>

</script>
@*Drag and Drop*@
@*HotSpot Add/Edit*@
<script>
  
    var fieldname = '';
    function addHotspot(type) {
        if (type == 1) {
            hotspotcount = hotspotcount + 1;
            $(".mainhotspotm").clone().appendTo("#maincontainer");
            $('#maincontainer .mainhotspotm:last').addClass('mainhotspot');
            $('#maincontainer .mainhotspotm:last').removeClass('mainhotspotm');
            fieldname = 'hotspot' + hotspotcount;
        }
        else if (type == 2) {
            textcount = textcount + 1;
            $(".maintextm").clone().appendTo("#maincontainer");
            $('#maincontainer .maintextm:last').addClass('mainhotspot');
            $('#maincontainer .maintextm:last').removeClass('maintextm');
            fieldname = 'text' + textcount;
            $('#maincontainer .mainhotspot:last').css('color', '#000');
            $('#maincontainer .mainhotspot:last').attr('data-color', '#000');
        }
        else if (type == 3) {
            textcount = textcount + 1;
            $(".mainbuttonm").clone().appendTo("#maincontainer");
            $('#maincontainer .mainbuttonm:last').addClass('mainhotspot');
            $('#maincontainer .mainbuttonm:last').removeClass('mainbuttonm');
            fieldname = 'text' + textcount;
            $('#maincontainer .mainhotspot:last').css('background-color', '#ffd800');
             $('#maincontainer .mainhotspot:last').css('color', '#000');
            $('#maincontainer .mainhotspot:last').attr('data-bcolor', '#ffd800');
             $('#maincontainer .mainhotspot:last').attr('data-color', '#000');
        }
        $('#maincontainer .mainhotspot:last').css('display', 'block');
        $('#maincontainer .mainhotspot:last').css('width', '70px');
        $('#maincontainer .mainhotspot:last').css('height', '70px');
        $('#maincontainer .mainhotspot:last').css('font-size', '14px');
        $('#maincontainer .mainhotspot:last').css('transform', 'translate(34px, -424px)');
        $('#maincontainer .mainhotspot:last').attr('id', fieldname);
        $('#maincontainer .mainhotspot:last').attr('data-name', fieldname);
        $('#maincontainer .mainhotspot:last').attr('data-x', '34');
        $('#maincontainer .mainhotspot:last').attr('data-y', '-424');
        $('#maincontainer .mainhotspot:last').attr('data-height', '70');
        $('#maincontainer .mainhotspot:last').attr('data-width', '70');
        $('#maincontainer .mainhotspot:last').attr('data-y', '-424');
        $('#maincontainer .mainhotspot:last').attr('data-timein', player.currentTime);
        $('#maincontainer .mainhotspot:last').attr('data-timeout', player.currentTime + 1);
        $('#maincontainer .mainhotspot:last').attr('data-id', fieldname);
        $('#maincontainer .mainhotspot:last').attr('data-fsize', '14');
        $('#maincontainer .mainhotspot:last').attr('data-type', type);
        $('#maincontainer .mainhotspot:last').attr('data-action', '');
        $('#maincontainer .mainhotspot:last').attr('data-actionitem', '');
        addElementtoContainer($('#maincontainer .mainhotspot:last'), 1);
        Elementcollection.push(fieldname);
        setElementPropertie($('#maincontainer .mainhotspot:last'));
    }
    function addHotspotExisting(data) {
        Elementcollection = [];
        $.each(data, function (i, item) {
            if (data[i].ElementType == 1) {
                $(".mainhotspotm").clone().appendTo("#maincontainer");
                $('#maincontainer .mainhotspotm:last').addClass('mainhotspot');
                $('#maincontainer .mainhotspotm:last').removeClass('mainhotspotm');
            }
            else if (data[i].ElementType == 2) {
                $(".maintextm").clone().appendTo("#maincontainer");
                $('#maincontainer .maintextm:last').addClass('mainhotspot');
                $('#maincontainer .maintextm:last').removeClass('maintextm');
                $('#maincontainer .mainhotspot:last').css('color', data[i].FontColor);
                $('#maincontainer .mainhotspot:last').text(data[i].ElementName);
            }
            else if (data[i].ElementType == 3) {
                $(".mainbuttonm").clone().appendTo("#maincontainer");
                $('#maincontainer .mainbuttonm:last').addClass('mainhotspot');
                $('#maincontainer .mainbuttonm:last').removeClass('mainbuttonm');
                $('#maincontainer .mainhotspot:last').css('background-color', data[i].BackColor);
                $('#maincontainer .mainhotspot:last').attr('data-color', data[i].FontColor);
                $('#maincontainer .mainhotspot:last').css('color', data[i].FontColor);
                $('#maincontainer .mainhotspot:last').attr('data-bcolor', data[i].BackColor);
                $('#maincontainer .mainhotspot:last').html(data[i].ElementName);
            }

            $('#maincontainer .mainhotspot:last').css('display', 'block');
            $('#maincontainer .mainhotspot:last').css('width', data[i].ElementWidth + 'px');
            $('#maincontainer .mainhotspot:last').css('height', data[i].ElementHeight + 'px');
            $('#maincontainer .mainhotspot:last').css('font-size', data[i].FontSize + 'px');
            $('#maincontainer .mainhotspot:last').css('transform', 'translate(' + data[i].ElementPositionX + 'px, ' + data[i].ElementPositionY + 'px)');
            $('#maincontainer .mainhotspot:last').attr('id', data[i].ElementID);
            $('#maincontainer .mainhotspot:last').attr('data-name', data[i].ElementName);
            $('#maincontainer .mainhotspot:last').attr('data-x', data[i].ElementPositionX);
            $('#maincontainer .mainhotspot:last').attr('data-y', data[i].ElementPositionY);
            $('#maincontainer .mainhotspot:last').attr('data-height', data[i].ElementHeight);
            $('#maincontainer .mainhotspot:last').attr('data-width', data[i].ElementWidth);
            $('#maincontainer .mainhotspot:last').attr('data-timein', data[i].Timein);
            $('#maincontainer .mainhotspot:last').attr('data-timeout', data[i].TimeOut);
            $('#maincontainer .mainhotspot:last').attr('data-id', data[i].ElementID);
            $('#maincontainer .mainhotspot:last').attr('data-type', data[i].ElementType);
            $('#maincontainer .mainhotspot:last').attr('data-fsize', data[i].FontSize);
            $('#maincontainer .mainhotspot:last').attr('data-color', data[i].FontColor);
            $('#maincontainer .mainhotspot:last').attr('data-bcolor', data[i].BackColor);
            $('#maincontainer .mainhotspot:last').attr('data-action', data[i].Action);
            $('#maincontainer .mainhotspot:last').attr('data-actionitem', data[i].ActionItem);
            addElementtoContainer($('#maincontainer .mainhotspot:last'), 1);
            Elementcollection.push(data[i].ElementID);
            //setElementPropertie($('#maincontainer .mainhotspot:last'));
        });
        $('.lds-spinner').hide();
    }
    function setElementPropertie(element) {
        $('#txtElementName').val($(element).attr('data-name'));
        $('#txtElementHeight').val($(element).attr('data-height'));
        $('#txtElementWidth').val($(element).attr('data-width'));
        $('#txtElementTimeIn').val($(element).attr('data-timein'));
        $('#txtElementTimeOut').val($(element).attr('data-timeout'));
        $('#txtElementPositionX').val($(element).attr('data-x'));
        $('#txtElementPositionY').val($(element).attr('data-y'));
        filldropdown($(element).attr('data-action'), $(element).attr('data-actionitem'));
        $('#selectActionItem').val($(element).attr('data-actionitem'));
        $('#selectAction').val($(element).attr('data-action'));
        if ($(element).attr('data-type') == 2) {
            $('.texttype').show();
            $('#txtFontSize').val($(element).attr('data-fsize'));
            $('#txtFontColor').val($(element).attr('data-color'));
        }
        else if ($(element).attr('data-type') == 3) {
            $('.btntype').show();
             $('.texttype').show();
            $('#txtFontSize').val($(element).attr('data-fsize'));
            $('#txtFontColor').val($(element).attr('data-color'));
             $('#txtBackColor').val($(element).attr('data-bcolor'));
        }
        else {
            $('.texttype').hide();
        }
        if ($(element).attr('data-id') !== null && $(element).attr('data-id') !== undefined) {
            $('#txtElementID').val($(element).attr('data-id'));
        }
        else {
            $('#txtElementID').val($(element).attr('id'));
        }
    }

    function HideShowElement(value) {

        value = player.currentTime + 0.5;
        var ecount = 0;
        var starttime; var endtime;
        for (ecount = 0; ecount < Elementcollection.length; ecount++) {
            var elementadd = $('#maincontainer').find('#' + (Elementcollection[ecount]));
            starttime = $(elementadd).attr('data-timein');
            endtime = $(elementadd).attr('data-timeout');
            if (value >= starttime && value <= endtime) {
                $(elementadd).css('display', 'block');
            } else {
                $(elementadd).css('display', 'none');
            }
        }
    }
    function filldropdown(action, actionitem) {
        $('#selectActionItem').empty();
        $('#selectAction').val(action);
        $.each(dropdownlist, function (i, item) {
            if (dropdownlist[i].Type == action) {
                var newOption = $('<option value="' + dropdownlist[i].Value + '">' + dropdownlist[i].Text + '</option>');
                $('#selectActionItem').append(newOption);
            }
        });
        $('#selectActionItem').val(actionitem);
    }
    function filldropdowns(action) {
        debugger
        action= $('#selectAction').val();
        $('#selectActionItem').empty();
        console.log(dropdownlist);
        $.each(dropdownlist, function (i, item) {
            if (dropdownlist[i].Type == action) {
                var newOption = $('<option value="' + dropdownlist[i].Value + '">' + dropdownlist[i].Text + '</option>');
                $('#selectActionItem').append(newOption);
            }
        });
    }
    //function getElementProperties()
    $('.setControlProperties').on('change', function () {
        var elementadd = document.getElementById($('#txtElementID').val());
        $(elementadd).attr('data-timeout', $('#txtElementTimeOut').val());
        $(elementadd).attr('data-timein', $('#txtElementTimeIn').val());
        $(elementadd).attr('data-height', $('#txtElementHeight').val());
        $(elementadd).attr('data-width', $('#txtElementWidth').val());
        $(elementadd).attr('data-name', $('#txtElementName').val());
        $(elementadd).attr('data-x', $('#txtElementPositionX').val());
        $(elementadd).attr('data-y', $('#txtElementPositionY').val());
        $(elementadd).attr('data-action', $('#selectAction').val());
        $(elementadd).attr('data-actionitem', $('#selectActionItem').val());
        $(elementadd).css('transform', 'translate(' + $('#txtElementPositionX').val() + 'px, ' + $('#txtElementPositionY').val() + 'px)');
        $(elementadd).css('width', $('#txtElementWidth').val() + 'px');
        $(elementadd).css('height', $('#txtElementHeight').val() + 'px');
        if ($(elementadd).attr('data-type') == 2) {
            $(elementadd).attr('data-fsize', $('#txtFontSize').val());
            $(elementadd).attr('data-color', $('#txtFontColor').val());
            $(elementadd).css('font-size', $('#txtFontSize').val() + 'px');
            $(elementadd).css('color', $('#txtFontColor').val());
            $(elementadd).text($('#txtElementName').val());
        }
        if ($(elementadd).attr('data-type') == 3) {
            $(elementadd).attr('data-fsize', $('#txtFontSize').val());
            $(elementadd).attr('data-color', $('#txtFontColor').val());
              $(elementadd).attr('data-bcolor', $('#txtBackColor').val());
            $(elementadd).css('font-size', $('#txtFontSize').val() + 'px');
            $(elementadd).css('background-color', $('#txtBackColor').val());
            $(elementadd).css('color', $('#txtFontColor').val());
            $(elementadd).html($('#txtElementName').val());
        }
        addElementtoContainer(elementadd, 2);

    })
    function RemoveElement() {
        if ($('#txtElementID').val() != '') {
            var elementadd = document.getElementById($('#txtElementID').val());
            Elementcollection.remove($('#txtElementID').val());
            var elementupdate = $("#ElementContainer").find("[data-id='" + $('#txtElementID').val() + "']");
            elementupdate.remove();
            $(elementadd).remove();
        }

    }

    $("#btnSave").click(function (e) {
        //Append Element to Model List
        var VideoElements = new Array();
        var VideoId = $('#VideoID').val();
         var UniqueID = $('#UniqueID').val();
        try {
            for (ecount = 0; ecount < Elementcollection.length; ecount++) {
                var ElementValue = {};
                var elementadd = document.getElementById(Elementcollection[ecount]);
                ElementValue.ElementHeight = parseInt($(elementadd).attr('data-height'));
                ElementValue.ElementWidth = parseInt($(elementadd).attr('data-width'));
                ElementValue.ElementName = $(elementadd).attr('data-name');
                ElementValue.Timein = parseFloat($(elementadd).attr('data-timein'));
                ElementValue.TimeOut = parseFloat($(elementadd).attr('data-timeout'));
                ElementValue.ElementPositionX = parseInt($(elementadd).attr('data-x'));
                ElementValue.ElementPositionY = parseInt($(elementadd).attr('data-y'));
                ElementValue.VideoID = parseInt(VideoId);
                ElementValue.UniqueID =UniqueID;
                // ElementValue.CampaignID = parseInt(VideoCampaignID);
                if ($(elementadd).attr('data-id') !== null && $(elementadd).attr('data-id') !== undefined) {
                    ElementValue.ElementID = $(elementadd).attr('data-id');
                }
                else {
                    ElementValue.ElementID = 0;
                }
                ElementValue.ElementType = parseInt($(elementadd).attr('data-type'));
                ElementValue.FontSize = parseInt($(elementadd).attr('data-fsize'));
                ElementValue.FontColor = $(elementadd).attr('data-color');
                ElementValue.BackColor = $(elementadd).attr('data-bcolor');
                ElementValue.pauseWhileShow = false;
                ElementValue.Action = $(elementadd).attr('data-action');
                ElementValue.ActionItem = $(elementadd).attr('data-actionitem');;
                VideoElements.push(ElementValue);
            }

            $.ajax({
                type: "POST",
                url: "/Video/VideoEdit",
                data: JSON.stringify(VideoElements),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.lds-spinner').show();
                },
                success: function (data) {
                    $('.lds-spinner').hide();
                    if (data == 1) {
                        alert('Save successfully');
                        var VideoCampaignID = $('#VideoCampaignID').val();
                        window.location.href = './CreateNewCampaign/' + VideoCampaignID;
                    }
                    else {

                        alert('Save Failed');
                    }
                }
            });
            $('.lds-spinner').hide();
        } catch (e) {

        }
    });

    function addElementtoContainer(element, addupdate) {
        if (addupdate == 1) {
            $(".mainelement").clone().appendTo("#ElementContainer");
            $('#ElementContainer .mainelement:last').addClass('subelement');
            $('#ElementContainer .mainelement:last').removeClass('mainelement');
            $('#ElementContainer .subelement:last').css('display', 'block');
            $('#ElementContainer .subelement:last').attr('data-name', $(element).attr('data-name'));
            $('#ElementContainer .subelement:last').attr('data-id', $(element).attr('data-id'));
            $('#ElementContainer .subelement:last').attr('data-timein', $(element).attr('data-timein'));
            $('#ElementContainer .subelement:last').text($(element).attr('data-name'));
            $('#ElementContainer .subelement:last').append("<span class='badge badge-primary' style='float:right'>" + $(element).attr('data-timein') + "s</span>");
            $('#ElementContainer .subelement:last').on('click', function () {
                setElementPropertie(element);
                var timein = $(this).attr('data-timein');
                player.currentTime = Math.round(timein);
            })
        }
        else {
            var elementupdate = $("#ElementContainer").find("[data-id='" + $(element).attr('data-id') + "']");
            $(elementupdate).text($(element).attr('data-name'));
            $(elementupdate).attr('data-name', $(element).attr('data-name'));
            $(elementupdate).attr('data-timein', $(element).attr('data-timein'));
            $(elementupdate).append("<span class='badge badge-primary' style='float:right'>" + ($(element).attr('data-timein')) + "s</span>");
        }
    }
    Array.prototype.remove = function () {
        var what, a = arguments, L = a.length, ax;
        while (L && this.length) {
            what = a[--L];
            while ((ax = this.indexOf(what)) !== -1) {
                this.splice(ax, 1);
            }
        }
        return this;
    };
    function PreviewVideo() {
        var VideoId = $('#UniqueID').val();
        var CampaignId = $('#VideoCampaignID').val();

        $.ajax({
            type: "GET",
            url: "/Video/VideoPreview",
            data: { id: VideoId, campaginID: CampaignId },
            cache: false,
            beforeSend: function () {
                $('.lds-spinner').show();
            },
            success: function (data) {

                $('#videopreviewbody').empty();
                $('#videopreviewbody').append(data);
                $('.lds-spinner').hide();
                $('#PreviewModal').modal('show');
            },
            error: function (jqXHR, exception) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status == 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status == 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                }
                alert(msg);
            }
        });
        $('.lds-spinner').hide();
    }
</script>
<script type="text/javascript">
    $(function () {
        localStorage.removeItem("NewVideoCampaignID");
    });
</script>
