﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@{ViewBag.Title = "DashBoard";}</title>

    <link href="~/Content/Css/MainStyle.css" rel="stylesheet" />
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/JS/jquery-ui.min.css" rel="stylesheet" />

    <script src="~/Content/JS/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/Content/JS/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="~/Content/JS/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/JS/bootbox.min.js" type="text/javascript"></script>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand PadTtitle" href="#">VIDEO &nbsp;<span style="color: #228B22">PROJECT</span></a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color: #228B22;">DashBoard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #B22222;">Upgrade</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tutorial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>


    </nav>

    <div style="clear: both;"></div>
    <div class="col-lg-12">
        &nbsp;
    </div>
    <div class="col-lg-12">
        &nbsp;
    </div>
    <div class="col-lg-12">
        &nbsp;
    </div>
    <div class="col-lg-12">
        &nbsp;
    </div>
    <div class="page-header" style="background-color: #3CB371; height: 55px;">
        <div class="container">
            <div class="row-fluid">
                <div class="PadTtitle1">
                    <h6 style="line-height: 50px; color: #fff; border: 1px solid #3CB371; height: 85px;">MY VIDEOS
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="line-height: 13px; float: right; margin-top: 8px;">New</button></h6>
                </div>
            </div>
        </div>
    </div>

    <div style="clear: both;"></div>
    <div class="col-lg-12">
        &nbsp;
    </div>
    <div class="col-lg-12">
        &nbsp;
    </div>


    <div class="container">
        <h4 class="PadTtitle1">TEST</h4>
        <br />
        <!--First Row -->
        <div style="margin-left: 10%; height: 325px; width: 50%;">
            <div>
                <div class="square">
                    <div class="content">
                        <img src="~/Content/Images/image-1.jpg" />
                    </div>
                </div>
                <div class="square">
                    <div class="content">
                        <img src="~/Content/Images/image-2.jpg" />
                    </div>
                </div>
                <div class="square">
                    <div class="content">
                        <img src="~/Content/Images/image-3.jpg" />
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!--Second Row -->
            <div>
                <div class="square">
                    <div class="content">
                        <img src="~/Content/Images/image-4.jpg" class="rs" />
                    </div>
                </div>
                <div class="square">
                    <div class="content">
                        <img src="~/Content/Images/image-5.jpg" class="rs" />
                    </div>
                </div>
                <div class="square">
                    <div class="content">
                        <img src="~/Content/Images/image-6.jpg" class="rs" />
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div style="background-color: #373945; height: 42px; color: #fff; padding-top: 8px;">
                <p style="text-align: center;">VIDEO &nbsp;<span style="color: #228B22">PROJECT</span></p>
            </div>
            <div class="col-sm-12">
                &nbsp;
            </div>
            <div class="clearfix"></div>
            <div class="row" style="margin-top: 10px; margin-bottom: 10px; padding-bottom: 40px;">
                <div class="col-sm-7 responsive nowrap">
                    <input type="button" value="Edit" class="btn btn-success btn-sm btn-responsive buttonStyle" />
                    <input type="button" value="Share" class="btn btn-success btn-sm btn-responsive buttonStyle" />
                    <input type="button" value="Insight" class="btn btn-success btn-sm btn-responsive buttonStyle" />
                    <input type="button" value="Copy" class="btn btn-success btn-sm btn-responsive buttonStyle" />
                    <input type="button" value="Delete" class="btn btn-success btn-sm btn-responsive buttonStyle" />
                </div>
            </div>


        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12">
        &nbsp;
    </div>
    <div class="col-sm-12">
        &nbsp;
    </div>
    <div class="col-sm-12">
        &nbsp;
    </div>
    <div class="col-sm-12">
        &nbsp;
    </div>
    <div class="col-sm-12">
        &nbsp;
    </div>
    <!-- Modal Start -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create New Video</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Name</p>
                    <input type="text" class="form-control" id="txtNameOfVideo" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnGetStarted">Get Started</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>


<script type="text/javascript">
    $('#btnGetStarted').click(function () {
        var txtNameOfVideo = $('#txtNameOfVideo');
        if ($(txtNameOfVideo).val().length > 0) {
            location.replace('@Url.Action("Home", "Home")');
            //window.location.href = "~/Views/Home/Home.cshtml";
        }
        else {
            $(txtNameOfVideo).css('border-color', 'red');
            return false;
        }
    });

</script>





