﻿
.questionText
{
    font-size: 24px;
    line-height: 1.35;
    font-weight: normal;
    margin-bottom: .5em;
}

.questionLabel
{
    background-color: lightskyblue;
}

.answerText
{
    margin: 10px;
}

#div_que
{
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 1;
}

.closeButton
{
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 27px;
    height: 27px;
    background: url('http://cdn-sg1.pgimgs.com/images/pg/close-button.png') no-repeat center center;
}