﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>@{ViewBag.Title = "Home";}</title>
    <link href="Content/Css/MainStyle.css" rel="stylesheet" />
    <link href="Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/JS/jquery-ui.min.css" rel="stylesheet" />
    <script src="Content/JS/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="Content/JS/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="Content/JS/bootstrap.min.js" type="text/javascript"></script>
    <script src="Content/JS/bootbox.min.js" type="text/javascript"></script>
    <script src="Content/JS/Custom/Video.js"></script>
    <style>
        .hide {
            display: none;
        }

        .Checkbox {
            width: 20px;
            height: 20px;
            position: relative;
        }

            .Checkbox > * {
                position: absolute;
            }

        .Checkbox-visible {
            border: 1px solid gray;
            width: 16px;
            height: 16px;
            margin: 2px;
            background: #fff;
            border: 1px solid #dedede;
            border-radius: 3px;
        }

        .Checkbox > input {
            z-index: 1;
            opacity: 0;
            left: 50%;
            top: 50%;
            -webkit-transform: translatex(-50%) translatey(-50%);
            transform: translatex(-50%) translatey(-50%);
            display: block;
            cursor: pointer;
            width: 20px;
            height: 20px;
        }

            .Checkbox > input:checked + .Checkbox-visible {
                background: #59cb59;
                border-color: #59cb59;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTQnIGhlaWdodD0nMTQnIHZpZXdCb3g9JzAgMCAxNCAxNCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48dGl0bGU+d2hpdGU8L3RpdGxlPjxwYXRoIGQ9J001LjM3OCAxMS4zN0wyIDcuNTlsMS40MzgtMS4yODZMNS4zNzQgOC40N2w1LjE4NS01Ljg0TDEyIDMuOTFsLTYuNjIyIDcuNDYnIGZpbGw9JyNmZmYnLz48L3N2Zz4=);
            }

            .Checkbox > input:hover + .Checkbox-visible {
                border-color: #cccccc;
            }

            .Checkbox > input:hover:checked + .Checkbox-visible {
                border-color: #0ca750;
            }

            .Checkbox > input:focus + .Checkbox-visible {
                border-color: #59cb59;
            }
    </style>

</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand PadTtitle" href="#">VIDEO &nbsp;<span style="color: #228B22">PROJECT</span></a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color: #228B22;">DashBoard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #B22222;">Upgrade</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tutorial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="col-md-12">&nbsp;</div>
    <div class="container-fluid">
        <div class="row  headerBackGround">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-7" style="padding: 5px;">
                        <label class="col-md-7  control-label" style="margin-top: 6px; color: #fff;">CLIP BIN</label>
                        <button type="button" class="col-md-5 btn btn-info MoveRight btnWhiteSpace" data-toggle="modal" data-target="#ImportVideo">IMPORT</button>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12" style="padding: 5px;">
                        <label class="col-md-8  control-label" style="margin-top: 6px; color: #fff;">DOG TRAINING EBOOK</label>
                        <button type="button" class="col-md-2 btn btn-info btnWhiteSpace" data-toggle="modal" data-target="#addNewVideo">SAVE</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-7" id="player">
                        <div style="display: none; margin-top: 20px;">
                            <iframe id="axPlayer" width="420" height="325" src="#" target="parent"></iframe>
                        </div>
                        <div style="vertical-align: middle; margin-top: 72%" id="divImageThumbnailShow">
                            <div>
                                <label class="control-label">
                                    No Video Clips Found.
                                </label>
                                <br />
                                <a data-toggle="modal" data-target="#ImportVideo" href="#">Import Video Clips</a>
                            </div>
                        </div>
                        <div id="imgDivReplace" class="scrollbar scrollbarStyle" style="display: none; height: 100%; overflow: auto;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                &nbsp;
                            </div>
                            <div class="col-md-7  headerBackGround" style="padding: 5px;">
                                <label class="col-md-7  control-label" style="margin-top: 6px; color: #fff;">EMBED</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-7" style="padding: 5px;">
                                    <a href="#">Preview Video</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-7" style="padding: 5px;">
                                    <label class="control-label" style="margin-top: 6px;">Video Options</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-7" style="padding: 5px;">
                                    <select>
                                        <option value="1">640x360</option>
                                        <option value="1">740x360</option>
                                        <option value="1">840x360</option>
                                    </select>
                                    <label>Embed Size</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-7" style="padding: 5px;">
                                    <input type="checkbox" name="AutoPlay" value="1" />&nbsp;Auto Play
                                    <br />
                                    <input type="checkbox" name="AutoPlay" value="2" />&nbsp;Center Video
                                    <br />
                                    <input type="checkbox" name="AutoPlay" value="3" />&nbsp;Hide Controls
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-7" style="padding: 5px;">
                                    <a href="#">Change Colors</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-7" style="padding: 5px;">
                                    <label>Mobile Video URL:</label><br />
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-7" style="padding: 5px;">
                                    <label>Embed Code</label><br />
                                    <textarea rows="4" cols="28"></textarea>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-7 headerBackGround" style="padding: 5px;">
                                    <label class="col-md-7  control-label" style="margin-top: 6px; color: #fff;">TRACKING</label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-7" style="padding: 5px;">
                                    <label>Product Name:</label><br />
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="margin-top: 20px;">
                <div class="row-fluid">
                    <div class="col-md-9">
                        <div class="row-fluid">
                            <div class="text-center">
                                <button type="button" class="btn btn-info  btnWhiteSpace" id="btnZoomIn">Zoom In</button>
                                <button type="button" class="btn btn-info  btnWhiteSpace" id="btnZoomOut">Zoom Out</button>
                                <button type="button" class="btn btn-info btnWhiteSpace">Reset Zoom</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="margin-top: 1px;">
                        &nbsp;
                    </div>
                    <div class="col-md-12" id="mainVideoScreen">
                        <div class="row">
                            <div class="col-md-10 mainDiv scrollbarStyleGrey" style="background-color: #FDFDFD; max-height: 943px; overflow-y: auto;" id="divMainHighlighter">
                                <div class="row parentRow" level="0">
                                    <div class="col-sm-3">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-6" style="margin-top: 20px;">
                                        <div class="row" id="divDraggable">
                                            <div class="col-md-12" style="background-color: white; height: 275px; border: 3px dashed grey;">
                                                <div class="row" style="padding-top: 15px;">
                                                    <div class="col-md-1">
                                                        &nbsp
                                                    </div>
                                                    <div class="col-md-10" id="innerImageDiv" style="padding-top: 50px; background-color: #373945; height: 238px; color: white; text-align: center; display: inline;">
                                                        <h6>DRAG INTRO VIDEO HERE</h6>
                                                        <br />
                                                        <span style="font-size: 12px;">This is the opening of the video and it should end with the first question being asked Ex: "Are you a man or woman".</span>
                                                    </div>
                                                    <div class="col-md-10" id="innerImageDiv2" style="height: 238px; display: none; border: 1px dotted black; padding-left: 0; padding-right: 0;">
                                                    </div>
                                                    <div class="col-md-1">
                                                        &nbsp
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 verticalLine">
                                                &nbsp;
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-3">&nbsp;</div>
                                                    <label id="lblQuestionTag" style="display: none; text-align: center;" class="col-md-6 transform">QUESTION :</label>
                                                    <button id="btnAddQuestion" type="button" class="btn btn-success col-md-6 btnWhiteSpace" style="margin-bottom: 8px;">ADD QUESTION</button>
                                                    <div class="col-md-3">&nbsp;</div>
                                                </div>
                                            </div>
                                            <div id="divShowOnAddQuestionAndAnswer" class="col-md-12 transform" style="display: none;">
                                                <div class="row">
                                                    <div class="col-md-12" id="divAskAddQuestion">
                                                        <input type="text" id="txtAddQuestion" class="form-control" />
                                                    </div>
                                                    <div class="col-md-12 divbuttonShowOnType transform" style="display: none;">
                                                        <div class="col-md-12  divHideOnAnswerButton verticalLine">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-md-12 divHideOnAnswerButton">
                                                            <div class="row">
                                                                <div class="col-md-2">&nbsp;</div>
                                                                <button id="btnAnswerOrVideo" type="button" class="btn btn-success col-md-8 btnWhiteSpace">ADD ANSWERS/VIDEOS</button>
                                                                <div class="col-md-2">&nbsp;</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row parentRow" level="1">
                                    <div id="divAddAnswers" style="display: none;" class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        &nbsp;
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 verticalLine">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        &nbsp;
                                                    </div>
                                                    <div class="col-md-10 borderSet">
                                                        &nbsp;
                                                    </div>
                                                    <div class="col-md-1">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12" id="divSubHighlighter">
                                            <div class="row">

                                                <!--  @*SubBox1*@ -->

                                                <div class="col-md-3" self="1" parentelement="0">
                                                    <div class="row">
                                                        <div class="col-md-2">&nbsp;</div>
                                                        <label style="text-align: center;" class="col-md-8">ANSWER 1:</label>
                                                        <div class="col-md-2">&nbsp;</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-md-6 verticalLineSolid">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="row">
                                                                <div class="col-md-12" style="border: 1px dotted black">
                                                                    <div class="row">
                                                                        <div class="col-md-12 divDropSet">
                                                                            <div class="row">
                                                                                <div class="col-md-12 subInnerImage" style="line-height: 135px; display: inline;">
                                                                                    <h6 style="vertical-align: middle; display: inline-block;">DROP VIDEO HERE</h6>
                                                                                </div>
                                                                                <div class="col-md-12 dropVideo subInnerImage_1" style="height: 135px; display: none; padding-left: 0; padding-right: 0;">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-md-6 verticalLineSolid">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">&nbsp</div>
                                                        <button type="button" class="btn btn-success col-md-8 btnWhiteSpace queBtn">ADD QUESTION</button>
                                                        <div class="col-md-2">&nbsp</div>
                                                    </div>


                                                    <div class="questionDiv" style="display: none;">
                                                        <div class="row">
                                                            <div class="col-md-2">&nbsp</div>
                                                            <input type="text" class="form-control col-md-8" />

                                                            <div class="col-md-2">&nbsp</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                &nbsp;
                                                            </div>
                                                            <div class="col-md-6 verticalLineSolid">
                                                            </div>
                                                        </div>
                                                        <div class="row">

                                                            <button type="button" class="btn btn-success col-md-11 btnWhiteSpace addBtnAnswer addPadding" >ADD ANSWERS/VIDEOS</button>
                                                            <div class="col-md-2">&nbsp</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--     @*SubBox2*@ -->

                                                <div class="col-md-3" self="2" parentelement="0">
                                                    <div class="row">
                                                        <div class="col-md-2">&nbsp;</div>
                                                        <label style="text-align: center;" class="col-md-8">ANSWER 2:</label>
                                                        <div class="col-md-2">&nbsp;</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-md-6 verticalLineSolid">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="row">
                                                                <div class="col-md-12" style="border: 1px dotted black">
                                                                    <div class="row">
                                                                        <div class="col-md-12 divDropSet">
                                                                            <div class="row">
                                                                                <div class="col-md-12 subInnerImage" style="line-height: 135px; display: inline;">
                                                                                    <h6 style="vertical-align: middle; display: inline-block;">DROP VIDEO HERE</h6>
                                                                                </div>
                                                                                <div class="col-md-12 dropVideo subInnerImage_1" style="height: 135px; display: none; padding-left: 0; padding-right: 0;">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-md-6 verticalLineSolid">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">&nbsp</div>
                                                        <button type="button" class="btn btn-success col-md-8 btnWhiteSpace queBtn">ADD QUESTION</button>
                                                        <div class="col-md-2">&nbsp</div>
                                                    </div>
                                                    <div class="questionDiv" style="display: none;">
                                                        <div class="row">
                                                            <div class="col-md-2">&nbsp</div>
                                                            <input type="text" class="form-control col-md-8" />

                                                            <div class="col-md-2">&nbsp</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                &nbsp;
                                                            </div>
                                                            <div class="col-md-6 verticalLineSolid">
                                                            </div>
                                                        </div>
                                                        <div class="row">

                                                            <button type="button" class="btn btn-success col-md-11 btnWhiteSpace addBtnAnswer addPadding">ADD ANSWERS/VIDEOS</button>
                                                            <div class="col-md-2">&nbsp</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--  @*SubBox3*@ -->

                                                <div class="col-md-3" self="3" parentelement="0">
                                                    <div class="row">
                                                        <div class="col-md-2">&nbsp;</div>
                                                        <label style="text-align: center;" class="col-md-8">ANSWER 3:</label>
                                                        <div class="col-md-2">&nbsp;</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-md-6 verticalLineSolid">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="row">
                                                                <div class="col-md-12" style="border: 1px dotted black">
                                                                    <div class="row">
                                                                        <div class="col-md-12 divDropSet">
                                                                            <div class="row">
                                                                                <div class="col-md-12 subInnerImage" style="line-height: 135px; display: inline;">
                                                                                    <h6 style="vertical-align: middle; display: inline-block;">DROP VIDEO HERE</h6>
                                                                                </div>
                                                                                <div class="col-md-12 dropVideo subInnerImage_1" style="height: 135px; display: none; padding-left: 0; padding-right: 0;">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-md-6 verticalLineSolid">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">&nbsp</div>
                                                        <button type="button" class="btn btn-success col-md-8 btnWhiteSpace queBtn">ADD QUESTION</button>
                                                        <div class="col-md-2">&nbsp</div>
                                                    </div>
                                                    <div class="questionDiv" style="display: none;">
                                                        <div class="row">
                                                            <div class="col-md-2">&nbsp</div>
                                                            <input type="text" class="form-control col-md-8" />

                                                            <div class="col-md-2">&nbsp</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                &nbsp;
                                                            </div>
                                                            <div class="col-md-6 verticalLineSolid">
                                                            </div>
                                                        </div>
                                                        <div class="row">

                                                            <button type="button" class="btn btn-success col-md-11 btnWhiteSpace addBtnAnswer addPadding">ADD ANSWERS/VIDEOS</button>
                                                            <div class="col-md-2">&nbsp</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- @*SubBox4*@ -->

                                                <div class="col-md-3" self="4" parentelement="0">
                                                    <div class="row">
                                                        <div class="col-md-2">&nbsp;</div>
                                                        <label style="text-align: center;" class="col-md-8">ANSWER 4:</label>
                                                        <div class="col-md-2">&nbsp;</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-md-6 verticalLineSolid">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="row">
                                                                <div class="col-md-12" style="border: 1px dotted black">
                                                                    <div class="row">
                                                                        <div class="col-md-12 divDropSet">
                                                                            <div class="row">
                                                                                <div class="col-md-12 subInnerImage" style="line-height: 135px; display: inline;">
                                                                                    <h6 style="vertical-align: middle; display: inline-block;">DROP VIDEO HERE</h6>
                                                                                </div>
                                                                                <div class="col-md-12 dropVideo subInnerImage_1" style="height: 135px; display: none; padding-left: 0; padding-right: 0;">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col-md-6 verticalLineSolid">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">&nbsp</div>
                                                        <button type="button" class="btn btn-success col-md-8 btnWhiteSpace queBtn">ADD QUESTION</button>
                                                        <div class="col-md-2">&nbsp</div>
                                                    </div>
                                                    <div class="questionDiv" style="display: none;">
                                                        <div class="row">
                                                            <div class="col-md-2">&nbsp</div>
                                                            <input type="text" class="form-control col-md-8" />

                                                            <div class="col-md-2">&nbsp</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                &nbsp;
                                                            </div>
                                                            <div class="col-md-6 verticalLineSolid">
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <button type="button" class="btn btn-success col-md-11 btnWhiteSpace addBtnAnswer addPadding">ADD ANSWERS/VIDEOS</button>
                                                            <div class="col-md-2">&nbsp</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ImportVideo" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Video</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label>Video URL:</label>
                    <input type="text" class="form-control" id="txtVideoURL" value="https://www.youtube.com/watch?v=1Mlhnt0jMlg" />
                    <br />
                    <label>Video Thumbnail:</label>
                    <input type="text" class="form-control" id="txtVideoThumbnail" />

                    <label>Leave blank to thumbnail from video</label>
                    <br />
                    <button type="button" class="btn btn-primary">Load Existing Clip</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btnWhiteSpace" data-dismiss="modal" id="btnImportVideo" onclick="ImportVideoFromURL();">Import Video</button>
                    <button type="button" class="btn btn-default btnWhiteSpace" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12">
        &nbsp;
    </div>
</body>

</html>

<script type="text/javascript">
    //$('#btnZoomOut').on('click', function () {
    //    $('#divAddAnswers').removeClass('col-md-12');
    //    $('#divAddAnswers').addClass('col-md-8');
    //    $('#divAddAnswers').css('margin-left', '15%');
    //    //$('#divSubHighlighter').animate({ width: "80%" }, 600);
    //});



    var idCount = 1;
    function ImportVideoFromURL() {

        var x = null;
        //var videoURL = $('#txtVideoURL');
        var videoURLVal = $('#txtVideoURL').val();
        if (videoURLVal.length > 0) {
            $('#ImportVideo').modal('hide');
            $('#divImageThumbnailShow').hide();
            $('#player').show();
            var video_thumbnail = '';

            if (videoURLVal.indexOf("youtube.com") != -1 || videoURLVal.indexOf("youtu.be") != -1) {
                var iframe = $('#axPlayer');
                iframe.attr('src', videoURLVal);
                var iframe_src = iframe.attr('src');
                var youtube_video_id = iframe_src.match(/youtube\.com.*(\?v=|\/embed\/)(.{11})/).pop();
                if (youtube_video_id.length == 11) {
                    video_thumbnail = $('<img src="http://img.youtube.com/vi/' + youtube_video_id + '/0.jpg">');
                    $(video_thumbnail).attr('id', 'img' + idCount);
                    $(video_thumbnail).addClass('imageMain');
                    idCount++;
                }
            }
            else if (videoURLVal.indexOf("vimeo.com") != -1) {

                var VimeoVideoId = getVimeoVideoID(videoURLVal);
                $.getJSON('http://www.vimeo.com/api/v2/video/' + VimeoVideoId + '.json?callback=?', { format: "json" }, function (data) {
                    video_thumbnail = $('<img src="' + data[0].thumbnail_large + '">');
                    $(video_thumbnail).attr('id', 'img' + idCount);
                    $(video_thumbnail).addClass('imageMain');
                    idCount++;
                });

                // executeFunc.Wait();
            }

            setTimeout(function () {
                $('#imgDivReplace').show();
                $('#imgDivReplace').append(video_thumbnail);
                $('#imgDivReplace img').css({ 'margin-bottom': '10px', 'margin-left': '50px' });
                //Make Images Draggable               
                $('.imageMain').draggable({
                    revert: 'invalid',
                    helper: "clone",
                    stack: '.imageMain',
                    start: function () {
                        $('#innerImageDiv').hide();
                        $('#innerImageDiv2').show();
                        $('.subInnerImage').hide();

                        $(".dropVideo").show();
                    },
                    stop: function () {

                        if ($('#innerImageDiv2').find('img').length > 0) {
                            $('#innerImageDiv').hide();
                            $('#innerImageDiv2').show();
                        }
                        else {
                            $('#innerImageDiv').show();
                            $('#innerImageDiv2').hide();
                        }
                        var a = 0;
                        $(".subInnerImage_1").each(function () {

                            var ele_subInnerImage_1 = $(this);

                            var ele_subInnerImage = ele_subInnerImage_1.parent("div.row").find(".subInnerImage");

                            if (ele_subInnerImage_1.find('img').length > 0) {
                                ele_subInnerImage.hide();
                                ele_subInnerImage_1.show();
                            }
                            else {
                                ele_subInnerImage.show();
                                ele_subInnerImage_1.hide();
                            }
                        });
                    }
                });

                $("#innerImageDiv2").droppable({
                    accept: '.imageMain',
                    activate: function () {
                        $("#innerImageDiv2").css({
                            border: "6px dashed #3CB371",
                            backgroundColor: "#D3D3D3"
                        });
                    },
                    deactivate: function () {
                        $("#innerImageDiv2").css({
                            border: "none"
                        });
                        $("#innerImageDiv2 .imageMainOnDrag").css("position", "");
                    }
                });

                $(".dropVideo").droppable({
                    accept: '.imageMain',
                    activate: function () {
                        $('.dropVideo').css({
                            border: "3px dashed #3CB371",
                            backgroundColor: "#D3D3D3"
                        });
                    },
                    deactivate: function () {
                        $('.dropVideo').css({
                            border: "none"
                        });
                        $("#innerImageDiv2 .imageMainOnDrag,.dropVideo .imageMainOnDrag,.dropVideo .imageMainOnDrag,.dropVideo .imageMainOnDrag, .dropVideo .imageMainOnDrag").css("position", "");
                    }
                });

                $("#innerImageDiv2,.dropVideo").bind('drop', function (event, ui) {
                    ItemSpot(ui.draggable, this);
                });
            }
                , 1000);

        }
        else {

        }
    }

    function ItemSpot(drag_item, spot) {
        var oldSpotitem = $(spot).find('img');
        if (oldSpotitem.length > 0) {
            $(oldSpotitem).remove();
        }
        var item = $('<img />');
        //item.attr('src', drag_item.attr('src')).attr('class', 'imageMainOnDrag').attr('id', drag_item.attr('id')).appendTo(spot).draggable({ revert: 'invalid', });

        item.attr('src', drag_item.attr('src')).attr('class', 'imageMainOnDrag').appendTo(spot).draggable({ revert: 'invalid', });
    }

    $('#btnAddQuestion').click(function () {
        $(this).animate({ opacity: 0 }, function () {
            $('#btnAddQuestion').hide();
            $('#lblQuestionTag').css('display', 'inline');
            $('#lblQuestionTag').animate({ opacity: 1 });
            $('#divShowOnAddQuestionAndAnswer').css('display', 'inline');
            $('#divShowOnAddQuestionAndAnswer').animate({ opacity: 1 });
            setTimeout(function () {
                $('#txtAddQuestion').focus();
            });
            $('#txtAddQuestion').keyup(function () {
                $('.divbuttonShowOnType').css('display', 'inline');
                $('.divbuttonShowOnType').animate({ opacity: 1 });
            });
        });
    });

    $('#btnAnswerOrVideo').click(function () {
        $('.divHideOnAnswerButton').hide();
        $('#divAddAnswers').show();
    });

    /*************************************************************************************************************************************************/
    //code added by napster


    //code to show question textbox and answer button
    $(document).on('click', '.queBtn', function () {
        $(this).closest(".row").next().show();
        $(this).closest(".row").hide();
    });

    //global variable to give self attribute to newly generated element
    var self = 5;

    //code to generate children of particualr element in hierarchy and cretae checkbox and remove answer button
    $(document).on('click', '.addBtnAnswer', function () {
        $(this).closest(".row").append('<div class="Checkbox"> <input type="checkbox"  class="hideShowChildren"/><div class="Checkbox-visible"></div></div>');
        $(this).closest(".row").find("div:first").removeClass("col-md-2").addClass("col-md-5").css({ "margin-left": "5px" });
        var parent = $(this).closest(".col-md-3").attr('self');
        var currentLevel = $(this).closest(".parentRow").attr('level');

        var parentRow = $("<div />", { class: "row parentRow hide", level: parseInt(currentLevel) + 1 });
        var colmd12 = $("<div />", { class: "col-md-12" });
        var childRow = $("<div />", { class: "row" });
        for (var i = 0; i < 4; i++) {
            var colmd3 = $("<div />", { class: "col-md-3", self: self, parentElement: parent });
            $(colmd3).append(' <div class="row"> <div class="col-md-2">&nbsp;</div><label style="text-align: center;" class="col-md-8">ANSWER ' + (i + 1) + ':</label> <div class="col-md-2">&nbsp;</div> </div> <div class="row"> <div class="col-md-12">  <input type="text" class="form-control" /> </div> </div> <div class="row"> <div class="col-md-6"> &nbsp; </div> <div class="col-md-6 verticalLineSolid"></div> </div>');
            $(colmd3).append(' <div class="row"><div class="col-md-1"> &nbsp; </div><div class="col-md-9"> <div class="row"> <div class="col-md-12" style="border: 1px dotted black"> <div class="row"> <div class="col-md-12 divDropSet"> <div class="row"><div class="col-md-12 subInnerImage" style="line-height: 135px; display: inline;"> <h6 style="vertical-align: middle; display: inline-block;">DROP VIDEO HERE</h6></div><div class="col-md-12 dropVideo subInnerImage_1 ui-droppable" style="height: 135px; display: none; padding-left: 0; padding-right: 0;"></div> </div> </div> </div></div> </div> </div></div>');
            $(colmd3).append('<div class="row"><div class="col-md-6"> &nbsp;</div><div class="col-md-6 verticalLineSolid"> </div></div>');
            $(colmd3).append('  <div class="row"> <div class="col-md-2">&nbsp</div> <button type="button" class="btn btn-success col-md-8 btnWhiteSpace queBtn">ADD QUESTION</button> <div class="col-md-2">&nbsp</div> </div>');
            $(colmd3).append(' <div class="questionDiv" style="display:none;"> <div class="row"> <div class="col-md-2">&nbsp</div><input type="text" class="form-control col-md-8" /> <div class="col-md-2">&nbsp</div> </div><div class="row"><div class="col-md-6">&nbsp;</div><div class="col-md-6 verticalLineSolid"></div></div><div class="row"><button type="button" class="btn btn-success col-md-11 btnWhiteSpace addBtnAnswer addPadding">ADD ANSWERS/VIDEOS</button><div class="col-md-2">&nbsp</div></div></div>');
            $(childRow).append(colmd3);
            self++;
        }
        $(colmd12).append(childRow);
        $(parentRow).append(colmd12);
        $(".mainDiv").append(parentRow);

        $(".dropVideo").droppable({
            accept: '.imageMain',
            activate: function () {
                $('.dropVideo').css({
                    border: "3px dashed #3CB371",
                    backgroundColor: "#D3D3D3"
                });
            },
            deactivate: function () {
                $('.dropVideo').css({
                    border: "none"
                });
                $("#innerImageDiv2 .imageMainOnDrag,.dropVideo .imageMainOnDrag,.dropVideo .imageMainOnDrag,.dropVideo .imageMainOnDrag, .dropVideo .imageMainOnDrag").css("position", "");
            }
        });

        $("#innerImageDiv2,.dropVideo").bind('drop', function (event, ui) {
            ItemSpot(ui.draggable, this);
        });

        $(this).remove();
    });

    //code executed when checkbox is clicked
    $(document).on('click', '.hideShowChildren', function () {
        var element = $(this).closest(".col-md-3").attr("self");

        var siblingCheckBox = $(this).closest(".parentRow").find("input[type=checkbox]");
        if ($(this).prop('checked') == true) {
            for (var i = 0; i < siblingCheckBox.length; i++) {
                $(siblingCheckBox).prop('checked', false);
                $("div[parentElement=" + $(siblingCheckBox[i]).closest(".col-md-3").attr("self") + "]").closest(".parentRow").addClass("hide");
            }
            hideChildrens($(this));
            $(this).prop('checked', true);
            $("div[parentElement=" + element + "]").closest(".parentRow").removeClass("hide");
        }
        if ($(this).prop('checked') == false) {
            hideChildrens($(this));

            $("div[parentElement=" + element + "]").closest(".parentRow").addClass("hide");
        }

    });


    //function to hide all childrens of particular element in hierarchy 
    function hideChildrens(obj) {
        var currentLevel = $(obj).closest(".parentRow").attr("level");
        console.log(currentLevel);
        for (var i = parseInt(currentLevel) + 1; ; i++) {
            if ($("div[level=" + i + "]").length == 0) {
                break;
            }
            else {
                $("div[level=" + i + "]").find("input[type=checkbox]").prop('checked', false);
                $("div[level=" + i + "]").addClass("hide");
            }

        }
    }

    /****************************************************************************************************************************************************/

</script>
