﻿<link href="~/Content/Css/bttn.min.css" rel="stylesheet" />

<div id="AddButtonSetModal" class="myModal">

    <!-- Modal content -->
    <div class="myModal-content">
        <span class="close1">&times;</span>
        <p>Add Button Set Form</p>


        <div class="modal-body">
            <div class="row">
                <div class="col-md-6" style="border-right: 1px dashed;">
                    <div class="row">
                        <div class="col-md-7">
                            <input id="txtButtonSetName" type="text" class="form-control" placeholder="Button Set Name">
                        </div>

                        <div class="col-md-5">
                            <input type="checkbox" id="chkDisplayHorizontal" />&nbsp;Display Horizontal
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-7">
                            <label>Button Text</label>

                        </div>
                        <div class="col-md-5">
                            <input id="txtButtonText" type="text" class="form-control" placeholder="Button Text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <label>Button Link</label>

                        </div>
                        <div class="col-md-5">
                            <input id="txtButtonLink" type="text" class="form-control" placeholder="Button Link">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <label>Button Background Color</label>

                        </div>
                        <div class="col-md-5">
                            <input id='btnBGColor' class="cp" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <label>Button Font Color</label>

                        </div>
                        <div class="col-md-5">
                            <input id='btnFontColor' class="cp" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <label>Button Hover Background Color</label>

                        </div>
                        <div class="col-md-5">
                            <input id='btnHoverBGColor' class="cp" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <label>Button Hover Font Color</label>

                        </div>
                        <div class="col-md-5">
                            <input id='btnHoverFontColor' class="cp" />

                        </div>
                    </div>
                    <div class="row">
                        <button onclick="DisplayAddedButtons();" type="button" class="btn btn-primary btnWhiteSpace" id="btnAddButton">Add Button</button>
                    </div>

                    <hr />

                    <div class="row">
                        <div id="divAddedButtons"></div>
                    </div>

                </div>
                <div class="col-md-2">
                    <button onclick="ButtonSetPreview();" style="border-radius: initial;" class="row bttn-unite bttn-md bttn-primary">Apply</button>
                </div>
                <div class="col-md-4">
                    <div id="div_preview">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btnWhiteSpace" data-dismiss="modal" id="btnButtonSetSave">Save</button>
            </div>

        </div>
    </div>

</div>

<link href="https://cdn.rawgit.com/bgrins/spectrum/master/spectrum.css" rel="stylesheet" />

<script>

    var lstButtons = [];

    $(document).ready(function () {

        SetButtonDefaultColors();

        $("#btnButtonSetSave").click(function () {

            var ButtonSetModel = {
                "ButtonSetName": $("#txtButtonSetName").val(),
                "IsDisplayHorizontal": $('#chkDisplayHorizontal:checkbox:checked').length > 0,
                "lstButtons": lstButtons
            };

            var URL_ButtonSetSave = "@Url.Action("SaveButtonSet", "ButtonSet")";

            $.ajax({
                url: URL_ButtonSetSave,
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(ButtonSetModel),
                success: function (flag) {
                    if (flag) {
                        MessageFadeInFadeOut("alert-success", "Successfully Saved..!!");
                        BindButtonSetList();
                    }
                    else
                    {
                        MessageFadeInFadeOut("alert-danger", "Error Occured");
                    }
                },
                error: function (flag) {
                    MessageFadeInFadeOut("alert-danger", "Error Occured");
                }
            });

            $("#AddButtonSetModal").hide();
        });
    });

    function DisplayAddedButtons() {

        var buttonText = $("#txtButtonText").val();
        var buttonLink = $("#txtButtonLink").val();

        var buttonBGColor = $("#btnBGColor").spectrum('get').toHexString();;
        var buttonFontColor = $("#btnFontColor").spectrum('get').toHexString();;
        var buttonHoverBGColor = $("#btnHoverBGColor").spectrum('get').toHexString();;
        var buttonHoverFontColor = $("#btnHoverFontColor").spectrum('get').toHexString();;

        var button = {
            "ButtonText": buttonText,
            "ButtonLink": buttonLink,
            "ButtonBackgroundColor": buttonBGColor,
            "ButtonFontColor": buttonFontColor,
            "ButtonHoverBackgroundColor": buttonHoverBGColor,
            "ButtonHoverFontColor": buttonHoverFontColor
        };

        if ($("#divAddedButtons").text() == "") {
            $("#divAddedButtons").text(buttonText);
        }
        else {
            $("#divAddedButtons").append("; " + buttonText);
        }

        lstButtons.push(button);

        $("#txtButtonText,#txtButtonLink").val('');

        SetButtonDefaultColors();
    }

    function SetButtonDefaultColors() {
        $("#btnBGColor").spectrum({
            color: "#ffffff", preferredFormat: "hex",
            showInput: true,
        });

        $("#btnFontColor").spectrum({
            color: "#1d89ff", preferredFormat: "hex",
            showInput: true,
        });

        $("#btnHoverBGColor").spectrum({
            color: "#1d89ff", preferredFormat: "hex",
            showInput: true,
        });

        $("#btnHoverFontColor").spectrum({
            color: "#ffffff", preferredFormat: "hex",
            showInput: true,
        });
    }

    function ButtonSetPreview() {

        var div_preview = "<div class='row'>Button Set Name: " + $("#txtButtonSetName").val() + "</div><hr />";

        var IsDisplayHorizontal = $('#chkDisplayHorizontal:checkbox:checked').length > 0;

        $.each(lstButtons, function () {

            var button = this;

            div_preview += "<button onclick=\"window.top.location.href = '//" + button["ButtonLink"] + "';\"";

            div_preview += " class='btn'";

            div_preview += " style='color: " + button["ButtonFontColor"] + "; background-color: " + button["ButtonBackgroundColor"] + "'"
                        + " onmouseover='$(this).attr(\"style\", \"color: " + button["ButtonHoverFontColor"] + "; background-color: " + button["ButtonHoverBackgroundColor"] + ";\")'"
                        + " onmouseout='$(this).attr(\"style\", \"color: " + button["ButtonFontColor"] + "; background-color: " + button["ButtonBackgroundColor"] + ";\")'"
                        + ">" + button["ButtonText"] + "</button>";

            if (!IsDisplayHorizontal) {
                div_preview += "<br />";
            }
        });

        $("#div_preview").html(div_preview);
    }

</script>