﻿@{
    ViewBag.Title = "ButtonSetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{
    <link href="~/Content/Css/MainStyle.css" rel="stylesheet" />
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/JS/jquery-ui.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section JavaScript{
    <script src="~/Content/JS/External/jquery3.2.1.min.js"></script>
    <script src="~/Content/JS/Custom/CommonJSFunctions.js"></script>
    <script src="https://cdn.rawgit.com/bgrins/spectrum/master/spectrum.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
}

<h2>ButtonSetList</h2>

<p>
    <a style="color: #0275d8;" id="AddButtonSetLink">Create New</a>
</p>

<div id="divAddButtonSet" class="">
</div>


<table border="1" style="width: 99%" id="tblButtonSetList" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                ButtonSetName
            </th>
            <th>
                ButtonSetDisplayURL
            </th>
            <th>
                Embed Code
            </th>

        </tr>
    </thead>
</table>

<script>
    $(document).ready(function () {

        BindButtonSetList();

        $("#AddButtonSetLink").on('click', function () {
            $.ajax({
                url: '@Url.Action("AddButtonSetPartialView", "ButtonSet")',
                type: 'GET',
                cache: false
            }).done(function (result) {
                $('#divAddButtonSet').html(result);

                modal = document.getElementById('AddButtonSetModal');
                modal.style.display = "block";
            });
        });

        $("body").on('click', ".close1", function () {
            $(this).parents('.myModal').hide();
        });
    });

    function BindButtonSetList() {
        $('#tblButtonSetList').DataTable({
            destroy: true,
            "aaSorting": [],
            "ajax": {
                "url": "@Url.Action("GetButtonSetList", "ButtonSet")",
                "tye": "GET",
                "datatype": "json",
            },
            "columns": [
                        { "data": "ButtonSetName", "autowidth": true },
                        {
                            "data": "ButtonSetDisplayURL",
                            "render": function (data, type, row, meta) {
                                var ButtonSetDisplayURL = "@Url.Action("ButtonSetDisplay", "VideoPlay", new { }, this.Request.Url.Scheme)" + "/" + row.ButtonSetID;
                                return '<a target="_blank" href="' + ButtonSetDisplayURL + '">' + row.ButtonSetName + '</a>';
                            },
                            "autowidth": true
                        },
                        {
                            "data": "Embed Code",
                            "render": function (data, type, row, meta) {
                                var ButtonSetDisplayURL = "@Url.Action("ButtonSetDisplay", "VideoPlay", new { }, this.Request.Url.Scheme)" + "/" + row.ButtonSetID;
                                var Embed_Code = "&lt;iframe src='" + ButtonSetDisplayURL + "' style='width:100%;height:500px;'&gt;&lt;/iframe&gt;";
                                return Embed_Code;
                            },
                            "autowidth": true
                        }
            ]
        });
    }

</script>